In [8]:
import pandas as pd
import numpy as np

# GDP

In [9]:
gdp = pd.read_csv("data/SAGDP2N__ALL_AREAS_1997_2017.csv")
gdp = gdp.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','IndustryId','IndustryClassification'])
gdp = gdp[gdp["Description"]=='All industry total']
gdp.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States*,All industry total,8577552,9062817,9630663,10252347,10581822,10936418,11458246,12213730,...,14712845,14448932,14992052,15542582,16197007,16784851,17521747,18219297,18707189,19485394
95,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
186,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
277,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
368,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5

In [10]:
gdp.rename(columns={'GeoName': 'State'}, inplace=True)
gdp = gdp[0:52]
gdp = gdp[gdp["State"]!='District of Columbia']
gdp = gdp.reset_index(drop=True)
gdp = gdp.drop(columns=['Description'])

In [11]:
gdp = gdp.drop(0)

In [22]:
gdp.to_pickle("/Users/jiahaoshen/Desktop/Stats170/newdata/gdp.pkl")

In [12]:
gdp.sort_values(by=['State'])

,State,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,Alabama,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,155970.4,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
2,Alaska,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,39774.8,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
3,Arizona,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,228231.2,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
4,Arkansas,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,89610,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5
5,California,1070523.6,1147841.6,1247093,1366561,1384111.2,1436430.9,1527294,1632216.9,1753866.2,...,1990678.2,1920061.8,1974614.5,2050056.8,2144497.3,2262771.2,2396552.1,2557131.9,2665348.9,2797600.9
6,Colorado,136675.3,150381.7,164226.8,180605.5,187571.9,190962.8,196483.7,203980.2,219907.9,...,255566.8,248593.6,255140.5,264431.6,273519.5,288305.2,306362,317977.9,328513.8,345233.1
7,Connecticut,138648.8,145495.4,152338.1,165898.7,173127.2,176208.2,181339.7,198662.4,208766.2,...,240910.9,236393.2,237653.4,236523.7,243801,246632,248954.2,259776,263239.9,264509.9
8,Delaware,32967.7,36783.2,40363.6,43389.4,46448.3,45757.9,47761.6,51449.4,52154.1,...,54787.5,56871.2,57447.4,60357.4,61975.8,60666.1,67178.9,70917.7,70484.1,72461.3
9,Florida,401723,430064.2,458318.6,489488.1,516689.6,548540.3,583725.7,635525.5,696741.1,...,750501.6,724582.2,737791.1,746787.5,769309.1,800704.1,839706,895004.2,938086.1,976385.5
10,Georgia,242596.2,264894.9,288994.3,307611.6,318753,326929.6,340410.6,364255.2,386785,...,412911.9,407024.5,416883.8,429574,444132.2,460585.1,484915.4,513100.5,538360.6,563607.6
11,Hawaii,37654.9,37624.4,39250.4,41500.2,42894.3,45447.1,48929.1,53761.8,58667.9,...,66864.7,65692,68196.9,70482.6,73582.7,75788.3,77972.5,82739.9,85648.1,88447.9
12,Idaho,29439,30983.9,34138.2,37992.8,37384.1,38715.3,40341.8,43739,47962.9,...,55546,53775,55170.7,56488.1,57764.4,61017.7,63614.9,66273.6,69203.4,72294.2
13,Illinois,415770.7,436166.7,459322.1,487212.7,502260.3,514063.8,529455.4,558748.4,586693.9,...,646366.6,644690.1,662637.8,688288.9,720702.3,739627.9,765910.2,791625.9,803680.2,822539.6
14,Indiana,170545.3,184582.1,193100.6,203052.9,204581.1,212430.3,223495.3,236935.8,243738.3,...,272845.6,261238.3,280120.7,288749.1,297552.7,308681.7,325040.6,330026.5,338711,352272.7
15,Iowa,82572.2,84546.9,87662.3,93028.6,94770.8,98976.1,105073.5,116652.5,122224,...,136553.6,136251.2,141482,147227,157250.8,160299.8,171512.5,177875.4,180179.3,183929.8
16,Kansas,74664.6,78478.8,81853,85853.2,88380.4,90949.3,94603.5,97676.4,103936.6,...,127682.4,124340.7,127744.8,135315.3,140477.8,143220.7,148276.1,151679.9,155580.4,159108.2
17,Kentucky,104584,109656.2,115258.5,114293.2,117430.8,122193.1,126970.6,134194.1,142649,...,158099,155779.7,164605.5,169940.7,176302.3,182359.2,186694.5,191916.4,195034.8,202174.9
18,Louisiana,116494.7,120429.3,125989.9,132809.9,137845.1,139537.9,154361.6,169873.2,197566.5,...,215068.9,206884.9,225677,228987.5,233623.1,228967.4,237876.9,234440.9,227983.9,235960.2
19,Maine,30630.6,32166.6,34382.1,36841,38500.8,40183.7,41838.5,44526.3,45874.8,...,49973.8,50556.5,51710.7,51866.7,52874,53719,55875.1,57515.1,59447.3,61702.8
20,Maryland,159335.8,169980.1,180207,192106.3,205449.8,218299.3,228690,246762,265929.5,...,296435.4,302507.3,316451.5,328058.4,334821.6,341255.3,352524.3,367276.7,384376.8,399537.9
21,Massachusetts,237316.4,249154.2,264779.4,289926.5,296834.1,303967.1,315299.8,330669.9,345586,...,388583.2,391265.1,409762.5,425593.2,444329.8,454345.7,473454.4,502816.9,519564.2,542978.8
22,Michigan,299843.2,312611,337561.2,351572.7,348529,362271.1,373839.3,381228.9,394229,...,386053.9,365591.7,386625.9,401105.4,418857.4,432717.6,448964.4,473729.6,490185,508904.8
23,Minnesota,155921.9,166292.7,174650,189964.8,194646.5,202766,215155.9,230282,242862.7,...,264688,259958.7,271821.2,283807.3,294296.6,306153,319338.9,328455,338364.2,350178.9
24,Mississippi,58339.9,60992.3,63827.2,65645.9,67028.6,68865.8,73332.2,77214.4,80995.7,...,96843.6,93205.6,95208.4,96371.6,99614.6,101638.1,103658.1,105706.7,106848.6,109375.4
25,Missouri,163151.9,169368.7,177360.5,187296.8,191199,196597.6,204009.5,214218.1,223497.1,...,250581.1,251780,258544.1,260093.5,268761.5,277851.1,284729.4,294750.3,295960.5,303763
26,Montana,19307.1,20444.9,20829.9,21885.2,22851.7,23880.5,25637.6,27939.2,30529.7,...,36862.5,35983.9,38054.6,40579.3,42005.8,43141,44529.2,46100.7,45595.5,47079
27,Nebraska,49886,51829.3,53689.3,56503.7,59467,61604.4,66415.6,70288.8,73959,...,85200.6,86830.3,91812.8,99613.4,102269,107604.3,111330.7,115269.6,116283.1,119587.5
28,Nevada,60593.4,65315,71534.9,76627.1,80426.6,84733.5,90778.8,104420.6,117856.1,...,129372.4,121109.5,123598.1,126657.1,128043,130621.4,135026.5,144378.9,149739.6,158302.1
29,New Hampshire,38214.9,40557.8,41880,45225.5,46629.7,48678.5,51378.4,54126.7,56352.1,...,60918.7,61937.4,64151.6,65430.5,67689.2,70181.9,72368.7,75892.9,78418.2,81649.7
30,New Jersey,307895.7,319946.2,336649.9,362006.9,373755.6,388337.7,405198.5,422889.1,440773.8,...,495121.8,486512.8,495149,499114.9,519745.8,533686.7,546831.5,569391.3,582070.9,602069
31,New Mexico,52511.1,50682.3,53092.8,55232.9,55986.2,58055.5,62895.9,69740.7,73684.2,...,83724.2,82017.4,83989.2,86625,87601.6,88411.2,92495.9,90849.4,90880,94210.7
32,New York,718322.5,745223.7,793721.1,838660.3,877149.3,886792.7,905280.6,955192,1015046.3,...,1099234.4,1152812.1,1213946.9,1236061.4,1322447.9,1355581.4,1427812.7,1488200.7,1540969.7,1606601.3
33,North Carolina,233924.3,245907.3,264063.5,275694.2,288683.5,298110,309318.2,328037.6,352394.5,...,413363.3,406477.4,415206.4,427205.6,439571,455521.6,475227.2,503467.3,518384,540496.6
34,North Dakota,15730.3,16792.7,16983.7,17976.1,18919.6,20209,22077.4,23167.8,24417.3,...,31722.1,32002.5,35426.3,41179.2,51345.1,53881.7,58547.4,54932.7,51099.2,52526.6
35,Ohio,343467.2,361629.1,376034.8,391137.8,395622.5,411967,424915.5,445541.1,465809.3,...,495742.6,480322,497208.2,525388.4,540819.3,561045.5,593030,609633.9,620931.2,645746.9
36,Oklahoma,79096,81209.1,84062.9,90792.7,96767,99163,105243.3,113148.7,124563.3,...,159660,145736.4,152911.4,165035.6,173483.7,182618.4,195689,185460.5,178969.9,188631.7
37,Oregon,100888.6,105111.5,107546.3,117258.3,117274.7,121229.5,127211.6,136238.5,143662.6,...,165189.1,160640.7,163827.6,170621.3,174493.1,179382.7,189344.3,203173.3,215336.1,227154.5
38,Pennsylvania,356146.1,372738.5,389715.7,407652.8,424965.2,436985.5,455106.8,481738.9,505584.6,...,582240.2,577379.8,599312.8,618987.7,641317.3,663900.8,690675.4,710040.5,724668.3,756268.5
39,Rhode Island,28929.9,30719.9,32295.5,34516.4,35992.1,38132.1,40272.8,43245.6,45162.4,...,47107.8,47901.4,49571.8,50175.9,51642,53209.9,54573.3,56843.8,57860,59305.7
40,South Carolina,97393,103642.6,110251.8,115246.8,119301.4,124160.1,130337.4,135160.1,142616.6,...,161804.7,159835.6,163856.8,170087.2,175374.8,183014.9,191967.4,203920.5,212460.2,221689.6
41,South Dakota,19000,20184.7,21050.8,22690.7,23512.8,26337.5,27445,29628.9,30659.4,...,36668.5,36193.1,37484.4,41541.5,43444.6,44814.9,46057,47778.2,48492.9,49813.1
42,Tennessee,154412.9,167308.4,175819.8,181629.5,185774.7,195289.2,203833.7,218020.6,228099.4,...,251609,250544.4,255935.8,267659.1,283721.8,292803.9,304150.4,322893.1,334618.1,349569.2
43,Texas,610256.5,645696.9,681335.4,738871,773006.7,787257.8,829764.4,906321,986401.3,...,1237394.9,1163401.3,1237196.8,1331220.6,1411378.7,1502249.8,1565390.2,1568641.9,1565698.8,1645135.9
44,Utah,57699.7,62291.4,66022.6,70291.8,73226,75998.8,79149.1,85701.9,94194.9,...,115985.4,113332.9,117960.5,124539.4,128721,134252.1,141342.9,149576.7,157474.7,164917
45,Vermont,15415,16073.1,17159.3,18311.9,19274.1,20163.3,21130.1,22666,23509.3,...,25678,25867.8,27108.4,28135.1,28887.4,29098.8,29714.4,30672.9,31552.2,32545.2
46,Virginia,217251.9,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,360299.8,...,399032.1,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1
47,Washington,193897.6,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,296100.7,...,355677.8,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7
48,West Virginia,38839.7,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,53259,...,62066.7,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4
49,Wisconsin,153240.7,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,225697.9,...,244759.9,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3
50,Wyoming,14724.3,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,27177.6,...,42540.4,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8

In [13]:
gdp.describe()

,State,1997,1998,1999,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
count,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
unique,50,50,50,50,50,50,50,50,50,50,...,50,50,50,50,50,50,50,50,50,50
top,Alaska,58339.9,16073.1,110251.8,489488.1,187571.9,362271.1,78218.8,22666,696741.1,...,54787.5,124340.7,422902,41541.5,186299,43141,293519.4,149576.7,31552.2,822539.6
freq,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [14]:
gdp = gdp.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
gdp = gdp.astype('float64')
gdp.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  This is separate from the ipykernel package so we can avoid doing imports until

(50, 18)

In [95]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/gdp.npy",gdp)

# Population

In [5]:
income = pd.read_csv("data/SAINC5N_1998_2018_ALL_AREAS.csv")
income =  income[(income["Description"]=='Population (persons) 2/')]       
income = income.drop(columns=['GeoFIPS','Region','TableName','Unit','IndustryClassification','IndustryClassification','LineCode'])
income.rename(columns={'GeoName': 'State'}, inplace=True)
income = income.reset_index(drop=True)
income = income[(income["State"]!='New England')
       &(income["State"]!='Mideast')
       &(income["State"]!='Great Lakes')
       &(income["State"]!='Plains')
       &(income["State"]!='Southeast')
       &(income["State"]!='Southwest')
       &(income["State"]!='Rocky Mountain') 
       &(income["State"]!='Far West')
       &(income["State"]!='District of Columbia')]
income.replace(['Population (persons) 2/'],['Population'], inplace=True)
income = income.drop([0])
income

,State,Description,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Alabama,Population,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,...,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
2,Alaska,Population,619932,624779,627963,633714,642337,648414,659286,666946,...,698895,713906,722038,730399,737045,736307,737547,741504,739786,737438
3,Arizona,Population,4883342,5023823,5160586,5273477,5396255,5510364,5652404,5839077,...,6343154,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
4,Arkansas,Population,2626289,2651860,2678588,2691571,2705927,2724816,2749686,2781097,...,2896843,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
5,California,Population,32987675,33499204,33987977,34479458,34871843,35253159,35574576,35827943,...,36961229,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045
6,Colorado,Population,4116639,4226018,4326921,4425687,4490406,4528732,4575013,4631888,...,4972195,5048281,5121771,5193721,5270482,5351218,5452107,5540921,5615902,5695564
7,Connecticut,Population,3365352,3386401,3411777,3432835,3458749,3484336,3496094,3506956,...,3561807,3579125,3588023,3594395,3594915,3594783,3587509,3578674,3573880,3572665
8,Delaware,Population,763335,774990,786373,795699,806169,818003,830803,845150,...,891730,899595,907316,915188,923638,932596,941413,949216,957078,967171
10,Florida,Population,15486559,15759421,16047515,16356966,16689370,17004085,17415318,17842038,...,18652644,18845785,19093352,19326230,19563166,19860330,20224249,20629982,20976812,21299325
11,Georgia,Population,7863536,8045965,8227303,8377038,8508256,8622793,8769252,8925922,...,9620846,9711810,9801578,9901496,9973326,10069001,10181111,10304763,10413055,10519475
12,Hawaii,Population,1215233,1210300,1213519,1225948,1239613,1251154,1273569,1292729,...,1346717,1363963,1379252,1394905,1408453,1414862,1422484,1428105,1424203,1420491
13,Idaho,Population,1252330,1275674,1299430,1319962,1340372,1363380,1391802,1428241,...,1554439,1570773,1583828,1595441,1611530,1631479,1651523,1682930,1718904,1754208
14,Illinois,Population,12271847,12359020,12434161,12488445,12525556,12556006,12589773,12609903,...,12796778,12840762,12867291,12884119,12898269,12888962,12864342,12826895,12786196,12741080
15,Indiana,Population,5998880,6044969,6091866,6127760,6155967,6196638,6233007,6278616,...,6459325,6490436,6516045,6537640,6568367,6593533,6608296,6633344,6660082,6691878
16,Iowa,Population,2902872,2917634,2929067,2931997,2934234,2941999,2953635,2964454,...,3032870,3050767,3066054,3076097,3093078,3109504,3121460,3131785,3143637,3156145
17,Kansas,Population,2660598,2678338,2693681,2702162,2713535,2723004,2734373,2745299,...,2832704,2858213,2869035,2885361,2893510,2900896,2909502,2911263,2910689,2911505
18,Kentucky,Population,3985390,4018053,4049021,4068132,4089875,4117170,4146101,4182742,...,4317074,4348200,4369488,4386381,4404817,4414483,4425999,4438229,4453874,4468402
19,Louisiana,Population,4440344,4460811,4471885,4477875,4497267,4521042,4552238,4576628,...,4491648,4544532,4575184,4600814,4624577,4644204,4664851,4678215,4670818,4659978
20,Maine,Population,1259127,1266808,1277072,1285692,1295960,1306513,1313688,1318787,...,1329590,1327632,1328150,1327691,1328196,1330760,1328484,1331370,1335063,1338404
21,Maryland,Population,5204464,5254509,5311034,5374691,5440389,5496269,5546935,5592379,...,5730388,5788642,5838991,5887072,5923704,5958165,5986717,6004692,6024891,6042718
22,Massachusetts,Population,6271838,6317345,6361104,6397634,6417206,6422565,6412281,6403290,...,6517613,6566431,6613149,6663158,6713944,6763652,6795891,6826022,6863246,6902149
23,Michigan,Population,9847942,9897116,9952450,9991120,10015710,10041152,10055315,10051137,...,9901591,9877535,9881521,9896930,9913349,9930589,9932573,9951890,9976447,9995915
24,Minnesota,Population,4813412,4873481,4933692,4982796,5018935,5053572,5087713,5119598,...,5281203,5310843,5345668,5376550,5413693,5451522,5482503,5523409,5568155,5611179
25,Mississippi,Population,2804834,2828408,2848353,2852994,2858681,2868312,2889010,2905943,...,2958774,2970536,2978470,2983767,2988797,2990623,2988693,2988298,2989663,2986530
26,Missouri,Population,5521765,5561948,5607285,5641142,5674825,5709403,5747741,5790300,...,5961088,5995976,6009641,6024081,6040658,6056293,6071745,6087203,6108612,6126452
27,Montana,Population,892431,897507,903773,906961,911667,919630,930009,940102,...,983982,990722,997221,1003754,1013564,1021891,1030503,1040863,1053090,1062305
28,Nebraska,Population,1695816,1704764,1713820,1719836,1728292,1738643,1749370,1761497,...,1812683,1829536,1840538,1853323,1865414,1879522,1891507,1905924,1917575,1929268
29,Nevada,Population,1853191,1934718,2018741,2098399,2173791,2248850,2346222,2432143,...,2684665,2702464,2712799,2744566,2776972,2819012,2868666,2919772,2972405,3034392
30,New Hampshire,Population,1205940,1222014,1239882,1255517,1269089,1279840,1290121,1298492,...,1316102,1316777,1319815,1323962,1326408,1333223,1336294,1342373,1349767,1356458
31,New Jersey,Population,8287418,8359592,8430621,8492671,8552643,8601402,8634561,8651974,...,8755602,8799624,8827783,8845483,8858362,8866780,8870869,8874516,8888543,8908520
32,New Mexico,Population,1793484,1808082,1821204,1831690,1855309,1877574,1903808,1932274,...,2036802,2064588,2080395,2087549,2092792,2090342,2090211,2092789,2093395,2095428
33,New York,Population,18755906,18882725,19001780,19082838,19137800,19175939,19171567,19132610,...,19307066,19400080,19498514,19574549,19628043,19656330,19661411,19641589,19590719,19542209
34,North Carolina,Population,7809121,7949361,8081614,8210122,8326201,8422501,8553152,8705407,...,9449566,9574293,9656754,9749123,9843599,9933944,10033079,10156679,10270800,10383620
35,North Dakota,Population,647532,644259,642023,639062,638168,638817,644705,646089,...,664968,674710,685136,701116,721999,737382,754022,754353,755176,760077
36,Ohio,Population,11311536,11335454,11363543,11387404,11407889,11434788,11452251,11463320,...,11528896,11539327,11543463,11548369,11576576,11602973,11617850,11635003,11664129,11689442
37,Oklahoma,Population,3405194,3437147,3454365,3467100,3489080,3504892,3525233,3548597,...,3717572,3759632,3787821,3818600,3853205,3878367,3909831,3926769,3932640,3943079
38,Oregon,Population,3352449,3393941,3429708,3467937,3513424,3547376,3569463,3613202,...,3808600,3837532,3871728,3899118,3922908,3964106,4016918,4091404,4146592,4190713
39,Pennsylvania,Population,12245672,12263805,12284173,12298970,12331031,12374658,12410722,12449990,...,12666858,12711158,12744583,12766827,12776621,12789101,12785759,12783538,12790447,12807060
40,Rhode Island,Population,1031155,1040402,1050268,1057142,1065995,1071342,1074579,1067916,...,1053646,1053938,1053536,1054601,1055122,1056017,1056173,1057063,1056486,1057315
41,South Carolina,Population,3919235,3974682,4024223,4064995,4107795,4150297,4210921,4270150,...,4589872,4635656,4671422,4717112,4764153,4823793,4892253,4958235,5021219,5084127
42,South Dakota,Population,746058,750412,755844,757972,760020,763729,770396,775493,...,807067,816165,823484,833496,842270,849088,853933,862890,873286,882235
43,Tennessee,Population,5570045,5638706,5703719,5750789,5795918,5847812,5910809,5991057,...,6306019,6355301,6397410,6451281,6493432,6540826,6590808,6645011,6708794,6770010
44,Texas,Population,20157531,20558220,20944499,21319622,21690325,22030931,22394023,22778123,...,24801761,25242679,25646227,26089620,26489464,26977142,27486814,27937492,28322717,28701845
45,Utah,Population,2165960,2203482,2244502,2283715,2324815,2360137,2401580,2457719,...,2723421,2775334,2814216,2853467,2897927,2937399,2982497,3042613,3103118,3161105
46,Vermont,Population,600416,604683,609618,612223,615442,617858,619920,621215,...,624817,625880,626979,626063,626212,625218,625197,623644,624525,626299
47,Virginia,Population,6900918,7000174,7105817,7198362,7286873,7366977,7475575,7577105,...,7925937,8023680,8100469,8185229,8253053,8312076,8362907,8410946,8465207,8517685
48,Washington,Population,5769562,5842564,5910512,5985722,6052349,6104115,6178645,6257305,...,6667426,6742902,6821655,6892876,6962906,7052439,7163543,7294680,7425432,7535591
49,West Virginia,Population,1815609,1811799,1807021,1801481,1805414,1812295,1816438,1820492,...,1847775,1854214,1856074,1856764,1853873,1849467,1841996,1830929,1817048,1805832
50,Wisconsin,Population,5297672,5332666,5373999,5406835,5445162,5479203,5514026,5546166,...,5669264,5690479,5704755,5719855,5736952,5751974,5761406,5772958,5792051,5813568
51,Wyoming,Population,490787,491780,494300,494657,500017,503453,509106,514157,...,559851,564483,567224,576270,582123,582548,585668,584290,578934,577737

In [53]:
income=income.sort_values(by=['State'])
income = income.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

In [54]:
income = income.astype('int64')

In [56]:
income.shape

(50, 18)

In [59]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/population.npy",income)

In [6]:
income = pd.read_csv("data/SAINC5N_1998_2018_ALL_AREAS.csv")
income.head()
income = income[(income["Description"]=='Per capita personal income (dollars) 3/')]
income = income.drop(columns=['GeoFIPS','Region','TableName','Unit','IndustryClassification','IndustryClassification','LineCode'])
income.rename(columns={'GeoName': 'State'}, inplace=True)
income = income.reset_index(drop=True)
income = income[(income["State"]!='New England')
       &(income["State"]!='Mideast')
       &(income["State"]!='Great Lakes')
       &(income["State"]!='Plains')
       &(income["State"]!='Southeast')
       &(income["State"]!='Southwest')
       &(income["State"]!='Rocky Mountain') 
       &(income["State"]!='Far West')
       &(income["State"]!='District of Columbia')]
income.replace(['Per capita personal income (dollars) 3/'],['Income/Person'], inplace=True)
income = income.drop([0])
income=income.sort_values(by=['State'])
income = income.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
income = income.astype('int64')
income.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

(50, 18)

In [61]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/incomeperson.npy",income)

In [7]:
income = pd.read_csv("data/SAINC5N_1998_2018_ALL_AREAS.csv")
income.head()
income = income[(income["Description"]=='Personal income (thousands of dollars)')]
income = income.drop(columns=['GeoFIPS','Region','TableName','Unit','IndustryClassification','IndustryClassification','LineCode'])
income.rename(columns={'GeoName': 'State'}, inplace=True)
income = income.reset_index(drop=True)
income = income[(income["State"]!='New England')
       &(income["State"]!='Mideast')
       &(income["State"]!='Great Lakes')
       &(income["State"]!='Plains')
       &(income["State"]!='Southeast')
       &(income["State"]!='Southwest')
       &(income["State"]!='Rocky Mountain') 
       &(income["State"]!='Far West')
       &(income["State"]!='District of Columbia')]
income.replace(['Personal income (thousands of dollars)'],['Income'], inplace=True)
income = income.drop([0])
income=income.sort_values(by=['State'])
income = income.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
income = income.astype('int64')
income.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:21: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.

(50, 18)

In [63]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/income.npy",income)

# Suicide

In [8]:
mortality = pd.read_csv("data/NCHS_-_Leading_Causes_of_Death__United_States.csv", header=0)
mortality.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0

In [68]:
suicide = mortality[mortality['Cause Name'] == 'Suicide']
suicide = suicide[suicide['State']!= 'District of Columbia']
suicide.drop(columns=['113 Cause Name','Cause Name','Age-adjusted Death Rate'])

      Year      State  Deaths
8475  2016    Alabama     788
8476  2015    Alabama     750
8477  2014    Alabama     715
8478  2013    Alabama     721
8479  2012    Alabama     724
8480  2011    Alabama     654
8481  2010    Alabama     679
8482  2009    Alabama     673
8483  2008    Alabama     604
8484  2007    Alabama     592
8485  2006    Alabama     580
8486  2005    Alabama     535
8487  2004    Alabama     541
8488  2003    Alabama     521
8489  2002    Alabama     514
8490  2001    Alabama     512
8491  2000    Alabama     583
8492  1999    Alabama     555
8493  2016     Alaska     193
8494  2015     Alaska     201
8495  2014     Alaska     167
8496  2013     Alaska     171
8497  2012     Alaska     168
8498  2011     Alaska     143
8499  2010     Alaska     164
8500  2009     Alaska     143
8501  2008     Alaska     169
8502  2007     Alaska     149
8503  2006     Alaska     135
8504  2005     Alaska     131
...    ...        ...     ...
9381  2010  Wisconsin     793
9382  2009  Wisconsin     724
9383  2008  Wisconsin     743
9384  2007  Wisconsin     729
9385  2006  Wisconsin     670
9386  2005  Wisconsin     643
9387  2004  Wisconsin     662
9388  2003  Wisconsin     647
9389  2002  Wisconsin     627
9390  2001  Wisconsin     639
9391  2000  Wisconsin     590
9392  1999  Wisconsin     593
9393  2016    Wyoming     144
9394  2015    Wyoming     157
9395  2014    Wyoming     120
9396  2013    Wyoming     129
9397  2012    Wyoming     171
9398  2011    Wyoming     132
9399  2010    Wyoming     131
9400  2009    Wyoming     111
9401  2008    Wyoming     124
9402  2007    Wyoming     101
9403  2006    Wyoming     116
9404  2005    Wyoming      90
9405  2004    Wyoming      88
9406  2003    Wyoming     109
9407  2002    Wyoming     105
9408  2001    Wyoming      83
9409  2000    Wyoming      83
9410  1999    Wyoming      98

[918 rows x 3 columns]

In [69]:
suicide.pivot(index='Year', columns='State', values='Deaths')

State,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,Florida,Georgia,...,Tennessee,Texas,United States,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1999,555,96,766,336,3077,574,274,86,2029,873,...,726,2005,29199,282,63,791,816,229,593,98
2000,583,137,784,349,2969,613,304,82,2086,847,...,730,2053,29350,298,77,768,727,245,590,83
2001,512,102,767,382,2831,722,283,108,2314,935,...,711,2225,30622,321,72,797,712,286,639,83
2002,514,132,886,377,3228,727,260,74,2338,909,...,778,2311,31655,340,92,799,811,276,627,105
2003,521,124,840,374,3397,728,272,94,2297,972,...,762,2363,31484,336,83,808,803,266,647,109
2004,541,155,880,361,3368,797,294,93,2389,973,...,792,2300,32439,377,93,828,830,285,662,88
2005,535,131,945,400,3206,800,295,83,2347,924,...,856,2418,32637,348,78,866,822,255,643,90
2006,580,135,979,376,3334,730,292,91,2440,923,...,874,2347,33300,362,81,876,809,269,670,116
2007,592,149,1016,402,3602,811,271,95,2587,997,...,844,2433,34598,378,89,880,865,300,729,101
2008,604,169,972,447,3775,803,315,109,2740,981,...,973,2552,36035,390,94,948,889,261,743,124
2009,673,143,1060,422,3823,941,316,107,2858,1134,...,947,2809,36909,449,87,963,921,253,724,111
2010,679,164,1093,447,3913,865,353,106,2789,1133,...,943,2891,38364,473,106,963,957,279,793,131
2011,654,143,1160,462,3996,913,370,105,2880,1157,...,955,2896,39518,502,120,1054,1021,306,745,132
2012,724,168,1156,485,3893,1052,368,125,3002,1168,...,978,3037,40600,550,87,1063,1038,326,723,171
2013,721,171,1163,516,4025,1007,330,122,2928,1212,...,1030,3059,41149,579,112,1072,1027,323,850,129
2014,715,167,1244,515,4214,1083,379,126,3035,1295,...,997,3254,42826,559,124,1123,1119,359,769,120
2015,750,201,1276,577,4167,1093,384,122,3205,1317,...,1068,3403,44193,630,103,1118,1137,340,877,157
2016,788,193,1271,555,4294,1168,397,119,3143,1409,...,1111,3488,44965,620,118,1166,1141,362,866,144

In [70]:
suicide = suicide.pivot(index='State', columns='Year', values='Deaths')

In [71]:
suicide

Year,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
State,,,,,,,,,,,,,,,,,,
Alabama,555,583,512,514,521,541,535,580,592,604,673,679,654,724,721,715,750,788
Alaska,96,137,102,132,124,155,131,135,149,169,143,164,143,168,171,167,201,193
Arizona,766,784,767,886,840,880,945,979,1016,972,1060,1093,1160,1156,1163,1244,1276,1271
Arkansas,336,349,382,377,374,361,400,376,402,447,422,447,462,485,516,515,577,555
California,3077,2969,2831,3228,3397,3368,3206,3334,3602,3775,3823,3913,3996,3893,4025,4214,4167,4294
Colorado,574,613,722,727,728,797,800,730,811,803,941,865,913,1052,1007,1083,1093,1168
Connecticut,274,304,283,260,272,294,295,292,271,315,316,353,370,368,330,379,384,397
Delaware,86,82,108,74,94,93,83,91,95,109,107,106,105,125,122,126,122,119
Florida,2029,2086,2314,2338,2297,2389,2347,2440,2587,2740,2858,2789,2880,3002,2928,3035,3205,3143
Georgia,873,847,935,909,972,973,924,923,997,981,1134,1133,1157,1168,1212,1295,1317,1409
Hawaii,136,137,136,120,131,116,107,120,133,133,175,207,181,190,171,204,201,174
Idaho,181,167,210,202,217,236,228,222,223,252,304,290,281,297,308,320,359,351
Illinois,1020,1003,1139,1145,1011,1028,1086,1010,1108,1198,1177,1178,1226,1292,1321,1398,1363,1415
Indiana,628,683,715,743,736,704,745,824,790,809,828,864,881,940,944,948,960,1034
Iowa,305,289,304,314,352,343,333,334,322,380,361,372,422,383,447,407,433,451
Kansas,299,325,293,345,347,370,362,379,382,337,382,401,394,502,425,455,477,514
Kentucky,470,521,495,540,567,560,566,622,649,612,592,631,675,724,701,728,776,756
Louisiana,518,468,493,499,461,537,505,492,522,532,490,557,573,567,583,679,722,677
Maine,175,154,161,166,137,171,175,158,191,181,197,186,235,209,245,220,235,226
Maryland,435,474,454,477,491,500,472,495,518,507,551,502,558,583,569,606,553,586
Massachusetts,431,387,426,436,433,425,480,450,516,509,530,598,585,604,572,596,642,631
Michigan,974,974,1051,1106,1029,1098,1108,1139,1131,1180,1169,1263,1221,1261,1295,1354,1410,1364
Minnesota,437,440,480,497,497,524,547,554,572,596,584,606,683,656,678,686,730,745
Mississippi,304,294,328,343,336,350,363,325,396,409,381,388,389,410,388,380,431,383
Missouri,700,699,725,693,679,715,727,799,808,779,860,856,933,914,960,1017,1052,1133
Montana,162,158,175,184,180,175,206,189,196,203,219,227,232,233,243,251,272,267
Nebraska,177,193,187,201,176,166,187,202,181,191,170,193,193,232,220,251,223,246
Nevada,404,400,387,423,434,440,480,486,471,528,505,547,516,524,541,573,558,650
New Hampshire,137,131,167,132,158,133,162,151,158,179,166,196,198,202,185,247,228,244
New Jersey,563,560,588,553,588,597,536,585,596,615,557,719,689,683,757,786,789,687
New Mexico,318,327,362,349,343,356,342,352,401,419,376,413,420,442,431,449,500,471
New York,1196,1132,1253,1228,1169,1187,1189,1326,1396,1409,1417,1547,1658,1708,1687,1700,1652,1679
North Carolina,884,971,997,986,955,1027,1009,1106,1077,1162,1174,1174,1213,1286,1284,1352,1406,1373
North Dakota,73,68,79,91,81,73,92,90,95,86,90,106,106,105,128,137,124,140
Ohio,1102,1088,1219,1287,1074,1319,1341,1325,1295,1412,1176,1439,1465,1542,1526,1491,1650,1707
Oklahoma,492,497,515,501,476,506,522,537,531,575,567,618,693,670,665,736,790,822
Oregon,478,493,505,518,592,555,560,579,594,572,644,685,656,724,698,782,762,772
Pennsylvania,1284,1356,1276,1341,1340,1410,1430,1396,1441,1539,1631,1576,1747,1647,1788,1817,1894,1970
Rhode Island,96,75,88,86,84,85,71,90,96,110,118,129,101,105,132,113,127,126
South Carolina,418,443,467,440,476,482,510,524,530,565,619,637,658,673,696,753,742,815
South Dakota,103,95,105,94,102,112,121,125,102,124,129,140,128,141,147,141,173,163
Tennessee,726,730,711,778,762,792,856,874,844,973,947,943,955,978,1030,997,1068,1111
Texas,2005,2053,2225,2311,2363,2300,2418,2347,2433,2552,2809,2891,2896,3037,3059,3254,3403,3488
United States,29199,29350,30622,31655,31484,32439,32637,33300,34598,36035,36909,38364,39518,40600,41149,42826,44193,44965
Utah,282,298,321,340,336,377,348,362,378,390,449,473,502,550,579,559,630,620
Vermont,63,77,72,92,83,93,78,81,89,94,87,106,120,87,112,124,103,118
Virginia,791,768,797,799,808,828,866,876,880,948,963,963,1054,1063,1072,1123,1118,1166
Washington,816,727,712,811,803,830,822,809,865,889,921,957,1021,1038,1027,1119,1137,1141
West Virginia,229,245,286,276,266,285,255,269,300,261,253,279,306,326,323,359,340,362
Wisconsin,593,590,639,627,647,662,643,670,729,743,724,793,745,723,850,769,877,866
Wyoming,98,83,83,105,109,88,90,116,101,124,111,131,132,171,129,120,157,144

In [72]:
type(suicide)

pandas.core.frame.DataFrame

In [33]:
suicide.to_pickle("/Users/jiahaoshen/Desktop/Stats170/newdata/suicide.pkl")

In [85]:
suicide = suicide.drop(['United States'])
suicide.reset_index()

Year,State,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,555,583,512,514,521,541,535,580,592,604,673,679,654,724,721,715,750,788
1,Alaska,96,137,102,132,124,155,131,135,149,169,143,164,143,168,171,167,201,193
2,Arizona,766,784,767,886,840,880,945,979,1016,972,1060,1093,1160,1156,1163,1244,1276,1271
3,Arkansas,336,349,382,377,374,361,400,376,402,447,422,447,462,485,516,515,577,555
4,California,3077,2969,2831,3228,3397,3368,3206,3334,3602,3775,3823,3913,3996,3893,4025,4214,4167,4294
5,Colorado,574,613,722,727,728,797,800,730,811,803,941,865,913,1052,1007,1083,1093,1168
6,Connecticut,274,304,283,260,272,294,295,292,271,315,316,353,370,368,330,379,384,397
7,Delaware,86,82,108,74,94,93,83,91,95,109,107,106,105,125,122,126,122,119
8,Florida,2029,2086,2314,2338,2297,2389,2347,2440,2587,2740,2858,2789,2880,3002,2928,3035,3205,3143
9,Georgia,873,847,935,909,972,973,924,923,997,981,1134,1133,1157,1168,1212,1295,1317,1409
10,Hawaii,136,137,136,120,131,116,107,120,133,133,175,207,181,190,171,204,201,174
11,Idaho,181,167,210,202,217,236,228,222,223,252,304,290,281,297,308,320,359,351
12,Illinois,1020,1003,1139,1145,1011,1028,1086,1010,1108,1198,1177,1178,1226,1292,1321,1398,1363,1415
13,Indiana,628,683,715,743,736,704,745,824,790,809,828,864,881,940,944,948,960,1034
14,Iowa,305,289,304,314,352,343,333,334,322,380,361,372,422,383,447,407,433,451
15,Kansas,299,325,293,345,347,370,362,379,382,337,382,401,394,502,425,455,477,514
16,Kentucky,470,521,495,540,567,560,566,622,649,612,592,631,675,724,701,728,776,756
17,Louisiana,518,468,493,499,461,537,505,492,522,532,490,557,573,567,583,679,722,677
18,Maine,175,154,161,166,137,171,175,158,191,181,197,186,235,209,245,220,235,226
19,Maryland,435,474,454,477,491,500,472,495,518,507,551,502,558,583,569,606,553,586
20,Massachusetts,431,387,426,436,433,425,480,450,516,509,530,598,585,604,572,596,642,631
21,Michigan,974,974,1051,1106,1029,1098,1108,1139,1131,1180,1169,1263,1221,1261,1295,1354,1410,1364
22,Minnesota,437,440,480,497,497,524,547,554,572,596,584,606,683,656,678,686,730,745
23,Mississippi,304,294,328,343,336,350,363,325,396,409,381,388,389,410,388,380,431,383
24,Missouri,700,699,725,693,679,715,727,799,808,779,860,856,933,914,960,1017,1052,1133
25,Montana,162,158,175,184,180,175,206,189,196,203,219,227,232,233,243,251,272,267
26,Nebraska,177,193,187,201,176,166,187,202,181,191,170,193,193,232,220,251,223,246
27,Nevada,404,400,387,423,434,440,480,486,471,528,505,547,516,524,541,573,558,650
28,New Hampshire,137,131,167,132,158,133,162,151,158,179,166,196,198,202,185,247,228,244
29,New Jersey,563,560,588,553,588,597,536,585,596,615,557,719,689,683,757,786,789,687
30,New Mexico,318,327,362,349,343,356,342,352,401,419,376,413,420,442,431,449,500,471
31,New York,1196,1132,1253,1228,1169,1187,1189,1326,1396,1409,1417,1547,1658,1708,1687,1700,1652,1679
32,North Carolina,884,971,997,986,955,1027,1009,1106,1077,1162,1174,1174,1213,1286,1284,1352,1406,1373
33,North Dakota,73,68,79,91,81,73,92,90,95,86,90,106,106,105,128,137,124,140
34,Ohio,1102,1088,1219,1287,1074,1319,1341,1325,1295,1412,1176,1439,1465,1542,1526,1491,1650,1707
35,Oklahoma,492,497,515,501,476,506,522,537,531,575,567,618,693,670,665,736,790,822
36,Oregon,478,493,505,518,592,555,560,579,594,572,644,685,656,724,698,782,762,772
37,Pennsylvania,1284,1356,1276,1341,1340,1410,1430,1396,1441,1539,1631,1576,1747,1647,1788,1817,1894,1970
38,Rhode Island,96,75,88,86,84,85,71,90,96,110,118,129,101,105,132,113,127,126
39,South Carolina,418,443,467,440,476,482,510,524,530,565,619,637,658,673,696,753,742,815
40,South Dakota,103,95,105,94,102,112,121,125,102,124,129,140,128,141,147,141,173,163
41,Tennessee,726,730,711,778,762,792,856,874,844,973,947,943,955,978,1030,997,1068,1111
42,Texas,2005,2053,2225,2311,2363,2300,2418,2347,2433,2552,2809,2891,2896,3037,3059,3254,3403,3488
43,Utah,282,298,321,340,336,377,348,362,378,390,449,473,502,550,579,559,630,620
44,Vermont,63,77,72,92,83,93,78,81,89,94,87,106,120,87,112,124,103,118
45,Virginia,791,768,797,799,808,828,866,876,880,948,963,963,1054,1063,1072,1123,1118,1166
46,Washington,816,727,712,811,803,830,822,809,865,889,921,957,1021,1038,1027,1119,1137,1141
47,West Virginia,229,245,286,276,266,285,255,269,300,261,253,279,306,326,323,359,340,362
48,Wisconsin,593,590,639,627,647,662,643,670,729,743,724,793,745,723,850,769,877,866
49,Wyoming,98,83,83,105,109,88,90,116,101,124,111,131,132,171,129,120,157,144

In [86]:
suicide=suicide.sort_values(by=['State'])
suicide = suicide.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
suicide = suicide.astype('int64')
suicide.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

(50, 18)

In [87]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/suicide.npy",suicide)

# PCE

In [9]:
pce = pd.read_csv("data/SAEXP1_1997_2017_ALL_AREAS_.csv")
pce = pce[pce["Description"]=='Personal consumption expenditures']
pce = pce.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','Line','IndustryClassification'])
pce.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,8206825.4,...,9968412.9,9833212.0,10177464.5,10631511.2,10997927.0,11309307.3,11816077.4,12287647.0,12760282.1,13314862.9
24,Alabama,Personal consumption expenditures,74340.3,77946.9,82570.0,87080.2,90325.4,94859.3,99368.5,105420.7,...,127649.7,126501.6,130833.8,135211.8,138773.3,141400.3,145796.1,149745.4,153456.5,158374.9
48,Alaska,Personal consumption expenditures,13799.3,14475.2,15414.0,16578.0,17624.6,18929.7,20110.1,21414.2,...,26488.9,26806.2,27841.0,29373.8,30489.3,31104.6,32319.5,33504.1,34332.0,35537.1
72,Arizona,Personal consumption expenditures,91972.3,99006.9,107470.5,116521.5,121913.8,128044.8,135951.0,147499.2,...,186485.1,181387.9,186603.4,193885.6,199385.3,204507.1,213689.9,221710.7,229755.5,242400.0
96,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704.0,51688.4,53668.9,56460.0,59980.2,...,74688.7,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8

In [10]:
pcep = pd.read_csv("data/SAEXP2_1997_2017_ALL_AREAS_.csv")
pcep = pcep[pcep["Description"]=='Per capita personal consumption expenditures']
pcep = pcep.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','Line','IndustryClassification'])
pcep.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Per capita personal consumption expenditures,20298.0,21295.0,22490.0,23953.0,24781.0,25514.0,26603.0,28028.0,...,32781.0,32054.0,32901.0,34114.0,35026.0,35762.0,37085.0,38275.0,39456.0,40878.0
24,Alabama,Per capita personal consumption expenditures,17020.0,17696.0,18638.0,19559.0,20218.0,21174.0,22065.0,23268.0,...,27055.0,26587.0,27339.0,28177.0,28827.0,29290.0,30123.0,30870.0,31572.0,32489.0
48,Alaska,Per capita personal consumption expenditures,22512.0,23350.0,24671.0,26400.0,27812.0,29470.0,31014.0,32481.0,...,38532.0,38355.0,38992.0,40669.0,41719.0,42218.0,43867.0,45400.0,46299.0,48036.0
72,Arizona,Per capita personal consumption expenditures,19416.0,20274.0,21392.0,22579.0,23118.0,23728.0,24672.0,26095.0,...,29693.0,28596.0,29125.0,29988.0,30467.0,30910.0,31863.0,32594.0,33256.0,34548.0
96,Arkansas,Per capita personal consumption expenditures,15785.0,16547.0,17556.0,18556.0,19204.0,19834.0,20721.0,21813.0,...,25983.0,25678.0,26356.0,27438.0,28212.0,28846.0,29824.0,30649.0,31695.0,32875.0

In [98]:
pce.rename(columns={'GeoName': 'State'}, inplace=True)
pcep.rename(columns={'GeoName': 'State'}, inplace=True)
pce = pce[pce["State"]!='District of Columbia']
pcep = pcep[pcep["State"]!='District of Columbia']
pce = pce.reset_index(drop=True)
pcep = pcep.reset_index(drop=True)

In [99]:
pce = pce[1:51]
pcep = pcep[1:51]

In [103]:
pce=pce.sort_values(by=['State'])
pce = pce.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
pce = pce.astype('float64')
pce.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

(50, 18)

In [104]:
pcep=pcep.sort_values(by=['State'])
pcep = pcep.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
pcep = pcep.astype('float64')
pcep.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

(50, 18)

In [105]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/pce.npy",pce)
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/pcep.npy",pcep)

# Unemployment

In [33]:
employ1 = pd.read_csv("data/CAEMP25S__ALL_STATES_1969_2000.csv", encoding = "Latin-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [34]:
employ2 = pd.read_csv("data/CAEMP25N__ALL_STATES_2001_2017.csv",encoding = "Latin-1")

/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [35]:
employ1 = employ1[employ1['Description']=='Total employment (number of jobs)']
employ1=employ1[['GeoName','Description','1999','2000']]
employ1 = employ1[~employ1.GeoName.str.contains(",")]
employ1 = employ1[1:52]
employ1 = employ1.drop(8096)

In [36]:
employ1.reset_index(drop=True, inplace=True)
employ1

           GeoName                        Description      1999      2000
0          Alabama  Total employment (number of jobs)   2378217   2392225
1           Alaska  Total employment (number of jobs)    381307    389734
2          Arizona  Total employment (number of jobs)   2695892   2801510
3         Arkansas  Total employment (number of jobs)   1460374   1482449
4       California  Total employment (number of jobs)  18852334  19228895
5         Colorado  Total employment (number of jobs)   2808435   2918002
6      Connecticut  Total employment (number of jobs)   2070018   2118177
7         Delaware  Total employment (number of jobs)    491018    503458
8          Florida  Total employment (number of jobs)   8577884   8881279
9          Georgia  Total employment (number of jobs)   4728750   4860810
10          Hawaii  Total employment (number of jobs)    738111    749439
11           Idaho  Total employment (number of jobs)    747188    776910
12        Illinois  Total employment (number of jobs)   7218569   7357491
13         Indiana  Total employment (number of jobs)   3596542   3648148
14            Iowa  Total employment (number of jobs)   1896080   1915254
15          Kansas  Total employment (number of jobs)   1740420   1760312
16        Kentucky  Total employment (number of jobs)   2264164   2306481
17       Louisiana  Total employment (number of jobs)   2352801   2388668
18           Maine  Total employment (number of jobs)    762975    784039
19        Maryland  Total employment (number of jobs)   3007654   3092125
20   Massachusetts  Total employment (number of jobs)   3962492   4070320
21        Michigan  Total employment (number of jobs)   5485654   5621494
22       Minnesota  Total employment (number of jobs)   3256931   3330936
23     Mississippi  Total employment (number of jobs)   1469707   1476295
24        Missouri  Total employment (number of jobs)   3422953   3470846
25         Montana  Total employment (number of jobs)    543115    552690
26        Nebraska  Total employment (number of jobs)   1156816   1173756
27          Nevada  Total employment (number of jobs)   1189071   1254358
28   New Hampshire  Total employment (number of jobs)    760763    783545
29      New Jersey  Total employment (number of jobs)   4571128   4748598
30      New Mexico  Total employment (number of jobs)    942297    964919
31        New York  Total employment (number of jobs)  10164527  10424526
32  North Carolina  Total employment (number of jobs)   4802414   4891957
33    North Dakota  Total employment (number of jobs)    435651    440643
34            Ohio  Total employment (number of jobs)   6681355   6789300
35        Oklahoma  Total employment (number of jobs)   1953349   1994373
36          Oregon  Total employment (number of jobs)   2051144   2092153
37    Pennsylvania  Total employment (number of jobs)   6764360   6905286
38    Rhode Island  Total employment (number of jobs)    566528    582589
39  South Carolina  Total employment (number of jobs)   2240690   2279819
40    South Dakota  Total employment (number of jobs)    501684    512377
41       Tennessee  Total employment (number of jobs)   3397301   3459310
42           Texas  Total employment (number of jobs)  11761409  12138771
43            Utah  Total employment (number of jobs)   1338175   1380538
44         Vermont  Total employment (number of jobs)    389726    400963
45        Virginia  Total employment (number of jobs)   4261127   4399151
46      Washington  Total employment (number of jobs)   3446900   3526778
47   West Virginia  Total employment (number of jobs)    868236    875561
48       Wisconsin  Total employment (number of jobs)   3350388   3413585
49         Wyoming  Total employment (number of jobs)    315198    324653

In [37]:
employ2 = employ2[employ2['Description']=='Total employment (number of jobs)']
employ2=employ2[['GeoName','Description','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011',
                '2012','2013','2014','2015','2016']]
employ2 = employ2[~employ2.GeoName.str.contains(",")]
employ2 = employ2[1:52]
employ2 = employ2.drop(11616)

In [38]:
employ2.reset_index(drop=True, inplace=True)
#employ2 = employ2.drop(['index'],axis=1)
employ2

,GeoName,Description,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Total employment (number of jobs),2376053,2364828,2371430,2425649,2486833,2545556,2604078,2582591,2479507,2460298,2497933,2503678,2523338,2552891,2588248,2620993
1,Alaska,Total employment (number of jobs),394565,402187,405621,413864,421419,431320,439825,443538,442447,443904,450364,459222,461110,461396,461471,457066
2,Arizona,Total employment (number of jobs),2829002,2847095,2917121,3041476,3219820,3375218,3465075,3402808,3228493,3181571,3239045,3295537,3371219,3448834,3548679,3646813
3,Arkansas,Total employment (number of jobs),1482587,1478929,1482035,1505095,1537680,1567682,1582858,1579283,1542944,1541272,1561948,1565142,1569249,1587285,1610206,1628582
4,California,Total employment (number of jobs),19341458,19358164,19478671,19784145,20126877,20505187,20888396,20654292,19837628,19642444,19986021,20666908,21319995,21998371,22688560,23169071
5,Colorado,Total employment (number of jobs),2941583,2916941,2908619,2958379,3036666,3109368,3217961,3251097,3164426,3143637,3204078,3262925,3356175,3466084,3571903,3664707
6,Connecticut,Total employment (number of jobs),2125253,2117734,2112290,2144331,2171980,2202108,2245720,2256043,2196161,2171933,2206269,2223221,2246561,2266473,2288407,2300577
7,Delaware,Total employment (number of jobs),502735,500640,504099,518103,528674,537109,544949,544911,525634,522400,530400,534261,544797,556560,568893,578770
8,Florida,Total employment (number of jobs),8938947,9055715,9283397,9644326,10067189,10383866,10531260,10269499,9841883,9805154,10036634,10249024,10539255,10937681,11366550,11673432
9,Georgia,Total employment (number of jobs),4871814,4858288,4895247,5021690,5195833,5358038,5490688,5450887,5247022,5211352,5325616,5384572,5496783,5670393,5831465,5970472
10,Hawaii,Total employment (number of jobs),752548,757721,773638,797263,819997,842413,864625,858402,829897,824460,835012,849156,868122,882801,901144,912896
11,Idaho,Total employment (number of jobs),783399,791311,800913,825327,861524,899832,929495,921093,880480,868718,878541,883148,902866,925190,948708,975802
12,Illinois,Total employment (number of jobs),7309738,7217677,7191486,7244982,7334790,7448603,7577634,7553059,7304316,7251002,7376100,7434661,7503158,7613440,7748492,7798813
13,Indiana,Total employment (number of jobs),3588944,3553215,3552205,3593283,3634815,3674399,3720040,3682931,3523018,3525335,3590196,3642334,3684125,3740889,3796128,3847454
14,Iowa,Total employment (number of jobs),1902198,1879713,1873330,1902227,1933919,1965778,1994031,1997615,1959142,1950444,1975960,1993430,2019480,2038927,2059531,2066639
15,Kansas,Total employment (number of jobs),1767601,1746077,1733694,1750876,1765650,1795507,1844355,1858069,1813184,1801873,1819044,1841393,1869054,1896042,1911112,1916820
16,Kentucky,Total employment (number of jobs),2283616,2263430,2273325,2300593,2337821,2374830,2414908,2402591,2325249,2325921,2368202,2389363,2407562,2439839,2473126,2497911
17,Louisiana,Total employment (number of jobs),2397993,2399216,2418747,2434481,2397386,2413797,2501135,2550836,2529953,2536560,2564944,2601174,2641657,2683615,2694755,2689751
18,Maine,Total employment (number of jobs),787577,790609,794507,807625,809353,817622,828212,823517,800501,791331,794389,796903,803641,811156,816944,826971
19,Maryland,Total employment (number of jobs),3119857,3156648,3191309,3247756,3310820,3378396,3440607,3430882,3359485,3345423,3394831,3438880,3493921,3537998,3603329,3656550
20,Massachusetts,Total employment (number of jobs),4075959,4021589,3991991,4028638,4071326,4110415,4202942,4215669,4115997,4115539,4175311,4253327,4353568,4448624,4631712,4710176
21,Michigan,Total employment (number of jobs),5526201,5466159,5441706,5467568,5491738,5457450,5457408,5337644,5046501,5038194,5165348,5234473,5323762,5413025,5502276,5577377
22,Minnesota,Total employment (number of jobs),3347326,3337706,3346994,3390372,3448135,3495705,3540491,3526499,3424435,3408753,3469201,3505578,3556487,3605742,3665457,3701715
23,Mississippi,Total employment (number of jobs),1455992,1454774,1452904,1463644,1473716,1508314,1538802,1537431,1492290,1490731,1509941,1519719,1532583,1557108,1568839,1580194
24,Missouri,Total employment (number of jobs),3451902,3437494,3444535,3478558,3533315,3586453,3636220,3625612,3522652,3475301,3506571,3528129,3565922,3597358,3656471,3702082
25,Montana,Total employment (number of jobs),559924,564643,571215,585514,600577,616927,635627,636171,619407,616344,623175,633135,641917,648806,660194,667559
26,Nebraska,Total employment (number of jobs),1175112,1165989,1169200,1180180,1192178,1208025,1230935,1237365,1223177,1219802,1232457,1251258,1266477,1283095,1303417,1311914
27,Nevada,Total employment (number of jobs),1285310,1299543,1353123,1441158,1533724,1604488,1643860,1619014,1512913,1478054,1501839,1519198,1561388,1610463,1665161,1724769
28,New Hampshire,Total employment (number of jobs),788168,788484,797648,812823,825600,835582,848001,844862,820809,813707,818789,824361,835032,844623,860799,873508
29,New Jersey,Total employment (number of jobs),4777145,4791993,4825005,4909617,4991146,5057223,5130158,5123820,4992063,4960621,5018505,5053839,5132846,5206619,5302698,5391181
30,New Mexico,Total employment (number of jobs),976506,984376,1003002,1027003,1050191,1079132,1103300,1105447,1072062,1059977,1064267,1067211,1075465,1083392,1091873,1092406
31,New York,Total employment (number of jobs),10438676,10348345,10377811,10513327,10654520,10810191,11082809,11197699,10984350,11005742,11294064,11432840,11619137,11866997,12099838,12259662
32,North Carolina,Total employment (number of jobs),4855476,4841986,4851933,4961634,5093049,5251538,5430998,5413586,5215744,5178363,5292814,5356443,5437125,5560638,5695713,5829499
33,North Dakota,Total employment (number of jobs),445433,442537,443699,453086,461645,471138,482505,491898,492417,503813,529779,567388,587398,608318,599278,579244
34,Ohio,Total employment (number of jobs),6725753,6640240,6620830,6666592,6709210,6747271,6794918,6725195,6454964,6418162,6521658,6605931,6680769,6770553,6860104,6928931
35,Oklahoma,Total employment (number of jobs),2009183,1987464,1971242,1998008,2043018,2095927,2149852,2186554,2136548,2130128,2158874,2211773,2248291,2272582,2286431,2285022
36,Oregon,Total employment (number of jobs),2079058,2062096,2076533,2132982,2196887,2256424,2307415,2288619,2189148,2174324,2201553,2219899,2259714,2322003,2388647,2447178
37,Pennsylvania,Total employment (number of jobs),6915464,6887155,6875863,6951840,7053674,7152678,7265045,7278608,7101557,7119776,7217098,7284519,7350854,7437412,7513222,7597336
38,Rhode Island,Total employment (number of jobs),585235,588132,594108,602399,605736,611123,617985,608905,588284,586363,591692,592978,602429,613264,627005,632532
39,South Carolina,Total employment (number of jobs),2256571,2248041,2263771,2305664,2356291,2418626,2482325,2472423,2367886,2357627,2427409,2453282,2500792,2564432,2636330,2699580
40,South Dakota,Total employment (number of jobs),511664,509549,509653,518410,527755,538720,551957,561007,556453,558135,566480,574966,581384,589753,593125,598061
41,Tennessee,Total employment (number of jobs),3421028,3408733,3433441,3507914,3572052,3643562,3702452,3677072,3523861,3515804,3589041,3635195,3688630,3770835,3856333,3946960
42,Texas,Total employment (number of jobs),12284685,12291978,12374891,12588027,13003858,13493427,14008182,14365941,14202794,14262558,14681432,15095912,15529989,15998113,16409479,16674238
43,Utah,Total employment (number of jobs),1391757,1395322,1405788,1453405,1517566,1592736,1676394,1688150,1633982,1620799,1664426,1706060,1753371,1804152,1866188,1933340
44,Vermont,Total employment (number of jobs),403836,405652,406050,413089,417100,421004,425032,424270,414181,413312,416949,421809,425029,429328,432827,434040
45,Virginia,Total employment (number of jobs),4417451,4421795,4467387,4587103,4701063,4781825,4869348,4870415,4758119,4743189,4802678,4856886,4898765,4954261,5060884,5143667
46,Washington,Total employment (number of jobs),3515729,3489250,3516394,3585355,3687899,3798303,3924936,3954911,3815691,3771444,3814305,3909210,3991724,4094679,4199125,4310173
47,West Virginia,Total employment (number of jobs),872546,871233,868331,879293,890779,902935,915669,918366,899038,899472,909035,918927,913619,909962,901911,887107
48,Wisconsin,Total employment (number of jobs),3403719,3395166,3413403,3467801,3511432,3546975,3585396,3572922,3444622,3426438,3474418,3499405,3539937,3587122,3626124,3660276
49,Wyoming,Total employment (number of jobs),330130,334123,336763,343755,354378,370329,388476,398969,387473,385059,390303,396704,400402,406188,405762,397914

In [39]:
employ2 = employ2.drop(columns=['GeoName','Description'])

In [40]:
employ = pd.concat([employ1, employ2], axis=1)

In [41]:
employ

,GeoName,Description,1999,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Alabama,Total employment (number of jobs),2378217,2392225,2376053,2364828,2371430,2425649,2486833,2545556,2604078,2582591,2479507,2460298,2497933,2503678,2523338,2552891,2588248,2620993
1,Alaska,Total employment (number of jobs),381307,389734,394565,402187,405621,413864,421419,431320,439825,443538,442447,443904,450364,459222,461110,461396,461471,457066
2,Arizona,Total employment (number of jobs),2695892,2801510,2829002,2847095,2917121,3041476,3219820,3375218,3465075,3402808,3228493,3181571,3239045,3295537,3371219,3448834,3548679,3646813
3,Arkansas,Total employment (number of jobs),1460374,1482449,1482587,1478929,1482035,1505095,1537680,1567682,1582858,1579283,1542944,1541272,1561948,1565142,1569249,1587285,1610206,1628582
4,California,Total employment (number of jobs),18852334,19228895,19341458,19358164,19478671,19784145,20126877,20505187,20888396,20654292,19837628,19642444,19986021,20666908,21319995,21998371,22688560,23169071
5,Colorado,Total employment (number of jobs),2808435,2918002,2941583,2916941,2908619,2958379,3036666,3109368,3217961,3251097,3164426,3143637,3204078,3262925,3356175,3466084,3571903,3664707
6,Connecticut,Total employment (number of jobs),2070018,2118177,2125253,2117734,2112290,2144331,2171980,2202108,2245720,2256043,2196161,2171933,2206269,2223221,2246561,2266473,2288407,2300577
7,Delaware,Total employment (number of jobs),491018,503458,502735,500640,504099,518103,528674,537109,544949,544911,525634,522400,530400,534261,544797,556560,568893,578770
8,Florida,Total employment (number of jobs),8577884,8881279,8938947,9055715,9283397,9644326,10067189,10383866,10531260,10269499,9841883,9805154,10036634,10249024,10539255,10937681,11366550,11673432
9,Georgia,Total employment (number of jobs),4728750,4860810,4871814,4858288,4895247,5021690,5195833,5358038,5490688,5450887,5247022,5211352,5325616,5384572,5496783,5670393,5831465,5970472
10,Hawaii,Total employment (number of jobs),738111,749439,752548,757721,773638,797263,819997,842413,864625,858402,829897,824460,835012,849156,868122,882801,901144,912896
11,Idaho,Total employment (number of jobs),747188,776910,783399,791311,800913,825327,861524,899832,929495,921093,880480,868718,878541,883148,902866,925190,948708,975802
12,Illinois,Total employment (number of jobs),7218569,7357491,7309738,7217677,7191486,7244982,7334790,7448603,7577634,7553059,7304316,7251002,7376100,7434661,7503158,7613440,7748492,7798813
13,Indiana,Total employment (number of jobs),3596542,3648148,3588944,3553215,3552205,3593283,3634815,3674399,3720040,3682931,3523018,3525335,3590196,3642334,3684125,3740889,3796128,3847454
14,Iowa,Total employment (number of jobs),1896080,1915254,1902198,1879713,1873330,1902227,1933919,1965778,1994031,1997615,1959142,1950444,1975960,1993430,2019480,2038927,2059531,2066639
15,Kansas,Total employment (number of jobs),1740420,1760312,1767601,1746077,1733694,1750876,1765650,1795507,1844355,1858069,1813184,1801873,1819044,1841393,1869054,1896042,1911112,1916820
16,Kentucky,Total employment (number of jobs),2264164,2306481,2283616,2263430,2273325,2300593,2337821,2374830,2414908,2402591,2325249,2325921,2368202,2389363,2407562,2439839,2473126,2497911
17,Louisiana,Total employment (number of jobs),2352801,2388668,2397993,2399216,2418747,2434481,2397386,2413797,2501135,2550836,2529953,2536560,2564944,2601174,2641657,2683615,2694755,2689751
18,Maine,Total employment (number of jobs),762975,784039,787577,790609,794507,807625,809353,817622,828212,823517,800501,791331,794389,796903,803641,811156,816944,826971
19,Maryland,Total employment (number of jobs),3007654,3092125,3119857,3156648,3191309,3247756,3310820,3378396,3440607,3430882,3359485,3345423,3394831,3438880,3493921,3537998,3603329,3656550
20,Massachusetts,Total employment (number of jobs),3962492,4070320,4075959,4021589,3991991,4028638,4071326,4110415,4202942,4215669,4115997,4115539,4175311,4253327,4353568,4448624,4631712,4710176
21,Michigan,Total employment (number of jobs),5485654,5621494,5526201,5466159,5441706,5467568,5491738,5457450,5457408,5337644,5046501,5038194,5165348,5234473,5323762,5413025,5502276,5577377
22,Minnesota,Total employment (number of jobs),3256931,3330936,3347326,3337706,3346994,3390372,3448135,3495705,3540491,3526499,3424435,3408753,3469201,3505578,3556487,3605742,3665457,3701715
23,Mississippi,Total employment (number of jobs),1469707,1476295,1455992,1454774,1452904,1463644,1473716,1508314,1538802,1537431,1492290,1490731,1509941,1519719,1532583,1557108,1568839,1580194
24,Missouri,Total employment (number of jobs),3422953,3470846,3451902,3437494,3444535,3478558,3533315,3586453,3636220,3625612,3522652,3475301,3506571,3528129,3565922,3597358,3656471,3702082
25,Montana,Total employment (number of jobs),543115,552690,559924,564643,571215,585514,600577,616927,635627,636171,619407,616344,623175,633135,641917,648806,660194,667559
26,Nebraska,Total employment (number of jobs),1156816,1173756,1175112,1165989,1169200,1180180,1192178,1208025,1230935,1237365,1223177,1219802,1232457,1251258,1266477,1283095,1303417,1311914
27,Nevada,Total employment (number of jobs),1189071,1254358,1285310,1299543,1353123,1441158,1533724,1604488,1643860,1619014,1512913,1478054,1501839,1519198,1561388,1610463,1665161,1724769
28,New Hampshire,Total employment (number of jobs),760763,783545,788168,788484,797648,812823,825600,835582,848001,844862,820809,813707,818789,824361,835032,844623,860799,873508
29,New Jersey,Total employment (number of jobs),4571128,4748598,4777145,4791993,4825005,4909617,4991146,5057223,5130158,5123820,4992063,4960621,5018505,5053839,5132846,5206619,5302698,5391181
30,New Mexico,Total employment (number of jobs),942297,964919,976506,984376,1003002,1027003,1050191,1079132,1103300,1105447,1072062,1059977,1064267,1067211,1075465,1083392,1091873,1092406
31,New York,Total employment (number of jobs),10164527,10424526,10438676,10348345,10377811,10513327,10654520,10810191,11082809,11197699,10984350,11005742,11294064,11432840,11619137,11866997,12099838,12259662
32,North Carolina,Total employment (number of jobs),4802414,4891957,4855476,4841986,4851933,4961634,5093049,5251538,5430998,5413586,5215744,5178363,5292814,5356443,5437125,5560638,5695713,5829499
33,North Dakota,Total employment (number of jobs),435651,440643,445433,442537,443699,453086,461645,471138,482505,491898,492417,503813,529779,567388,587398,608318,599278,579244
34,Ohio,Total employment (number of jobs),6681355,6789300,6725753,6640240,6620830,6666592,6709210,6747271,6794918,6725195,6454964,6418162,6521658,6605931,6680769,6770553,6860104,6928931
35,Oklahoma,Total employment (number of jobs),1953349,1994373,2009183,1987464,1971242,1998008,2043018,2095927,2149852,2186554,2136548,2130128,2158874,2211773,2248291,2272582,2286431,2285022
36,Oregon,Total employment (number of jobs),2051144,2092153,2079058,2062096,2076533,2132982,2196887,2256424,2307415,2288619,2189148,2174324,2201553,2219899,2259714,2322003,2388647,2447178
37,Pennsylvania,Total employment (number of jobs),6764360,6905286,6915464,6887155,6875863,6951840,7053674,7152678,7265045,7278608,7101557,7119776,7217098,7284519,7350854,7437412,7513222,7597336
38,Rhode Island,Total employment (number of jobs),566528,582589,585235,588132,594108,602399,605736,611123,617985,608905,588284,586363,591692,592978,602429,613264,627005,632532
39,South Carolina,Total employment (number of jobs),2240690,2279819,2256571,2248041,2263771,2305664,2356291,2418626,2482325,2472423,2367886,2357627,2427409,2453282,2500792,2564432,2636330,2699580
40,South Dakota,Total employment (number of jobs),501684,512377,511664,509549,509653,518410,527755,538720,551957,561007,556453,558135,566480,574966,581384,589753,593125,598061
41,Tennessee,Total employment (number of jobs),3397301,3459310,3421028,3408733,3433441,3507914,3572052,3643562,3702452,3677072,3523861,3515804,3589041,3635195,3688630,3770835,3856333,3946960
42,Texas,Total employment (number of jobs),11761409,12138771,12284685,12291978,12374891,12588027,13003858,13493427,14008182,14365941,14202794,14262558,14681432,15095912,15529989,15998113,16409479,16674238
43,Utah,Total employment (number of jobs),1338175,1380538,1391757,1395322,1405788,1453405,1517566,1592736,1676394,1688150,1633982,1620799,1664426,1706060,1753371,1804152,1866188,1933340
44,Vermont,Total employment (number of jobs),389726,400963,403836,405652,406050,413089,417100,421004,425032,424270,414181,413312,416949,421809,425029,429328,432827,434040
45,Virginia,Total employment (number of jobs),4261127,4399151,4417451,4421795,4467387,4587103,4701063,4781825,4869348,4870415,4758119,4743189,4802678,4856886,4898765,4954261,5060884,5143667
46,Washington,Total employment (number of jobs),3446900,3526778,3515729,3489250,3516394,3585355,3687899,3798303,3924936,3954911,3815691,3771444,3814305,3909210,3991724,4094679,4199125,4310173
47,West Virginia,Total employment (number of jobs),868236,875561,872546,871233,868331,879293,890779,902935,915669,918366,899038,899472,909035,918927,913619,909962,901911,887107
48,Wisconsin,Total employment (number of jobs),3350388,3413585,3403719,3395166,3413403,3467801,3511432,3546975,3585396,3572922,3444622,3426438,3474418,3499405,3539937,3587122,3626124,3660276
49,Wyoming,Total employment (number of jobs),315198,324653,330130,334123,336763,343755,354378,370329,388476,398969,387473,385059,390303,396704,400402,406188,405762,397914

In [42]:
employ=employ.sort_values(by=['GeoName'])
employ = employ.as_matrix(columns=['1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016'])
employ = employ.astype('int64')
employ.shape

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  after removing the cwd from sys.path.

(50, 18)

In [241]:
np.save("/Users/jiahaoshen/Desktop/Stats170/newdata/employ.npy",employ)