In [6]:
import pandas as pd
import numpy as np

In [102]:
gdp = pd.read_csv("data/SAGDP2N__ALL_AREAS_1997_2017.csv")
gdp.head(20)

,GeoFIPS,GeoName,Region,TableName,ComponentName,Unit,IndustryId,IndustryClassification,Description,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,1.0,...,All industry total,8577552,...,14712845,14448932,14992052,15542582,16197007,16784851,17521747,18219297,18707189,19485394
1,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,2.0,...,Private industries,7431991.6,...,12731236.5,12403879.9,12884088.6,13405520,14037518.8,14572341,15250030.3,15878808,16319357.2,17031689.7
2,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,3.0,11,"Agriculture, forestry, fishing, and hunting",108636.5,...,147244,129967.8,146299,180944.9,179572.7,215600.6,200841.6,181220.2,164913.2,169225.2
3,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,4.0,111-112,Farms,88136,...,119476,103102,117629,152249,148939,184621,167940,146376,129458,(NA)
4,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,5.0,113-115,"Forestry, fishing, and related activities",20500.5,...,27768,26865.8,28670,28695.8,30633.7,30979.6,32901.6,34844.2,35455.2,(NA)
5,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,6.0,21,"Mining, quarrying, and oil and gas extraction",95061.5,...,392174.6,275840.9,305838.1,356315.5,358797.6,386518.6,413005.2,257852.4,216218.4,268619
6,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,7.0,211,Oil and gas extraction,55060.3,...,271526.9,172888.7,188822.7,218093.7,223767.4,255103.8,275220.2,151805.2,133648.7,(NA)
7,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,8.0,212,Mining (except oil and gas),26501.3,...,61276.8,61569.8,69496.9,76367.2,66647.6,62140.5,58570,51506.2,49753.4,(NA)
8,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,9.0,213,Support activities for mining,13499.9,...,59370.9,41382.4,47518.5,61854.5,68382.6,69274.3,79214.9,54541,32816.3,(NA)
9,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,10.0,22,Utilities,171479.1,...,241686.3,258241,278837,287459.1,279650.6,286340.2,298154.1,299036.5,302715.2,307496.4
10,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,11.0,23,Construction,339551.9,...,648879.4,565646.7,525125.8,524431.2,553418.9,587552.5,636442.2,694933.9,745507.8,781412.9
11,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,12.0,31-33,Manufacturing,1382889.4,...,1800843.9,1702135.4,1797010.2,1867565.6,1927056.7,1991904.3,2047350.6,2123022.7,2085164.2,2179633.2
12,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,13.0,"321,327-339",Durable goods manufacturing,823792.8,...,999725.8,880960.7,964323.9,1015190.4,1061710.6,1101963.2,1130720.5,1182708.1,1182020.9,1226647.9
13,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,14.0,321,Wood product manufacturing,26790.8,...,25622.4,21216.2,23302.8,23640,25750.8,30475.3,30941.4,32327.3,34975.9,(NA)
14,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,15.0,327,Nonmetallic mineral product manufacturing,39765.7,...,44745.4,38866.3,38355,38838.4,42570.6,47110.4,49358.9,54032.3,57490.6,(NA)
15,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,16.0,331,Primary metal manufacturing,48073.8,...,68817.8,41140.9,50878,62455.3,65509.4,62309.9,63806,60318.5,56877.6,(NA)
16,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,17.0,332,Fabricated metal product manufacturing,110022.5,...,133115.5,117351.6,119888.6,127179.5,137622.8,141630.9,143539.3,146151.3,144602.9,(NA)
17,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,18.0,333,Machinery manufacturing,102233.3,...,131637,118603.4,127197.4,144476.3,152490.1,158168.1,160472.7,153989.4,143665.1,(NA)
18,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,19.0,334,Computer and electronic product manufacturing,195321.3,...,232092.5,223701,239820.9,237134.8,240440.8,244043.9,250387,267590.9,270725.6,(NA)
19,"""00000""",United States*,,SAGDP2N,Gross domestic product (GDP) by state,Millions of current dollars,20.0,335,"Electrical equipment, appliance, and compo...",46856.2,...,55473.7,50672.7,50708.2,48193.7,51990.6,57968.3,54183.1,62925.8,57603.7,(NA)

In [103]:
gdp.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'ComponentName', 'Unit',
       'IndustryId', 'IndustryClassification', 'Description', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017'],
      dtype='object')

In [104]:
gdp = gdp.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','IndustryId','IndustryClassification'])
gdp = gdp[gdp["Description"]=='All industry total']
gdp.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States*,All industry total,8577552,9062817,9630663,10252347,10581822,10936418,11458246,12213730,...,14712845,14448932,14992052,15542582,16197007,16784851,17521747,18219297,18707189,19485394
95,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
186,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
277,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
368,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5

In [105]:
gdp.rename(columns={'GeoName': 'State'}, inplace=True)
gdp.head()

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States*,All industry total,8577552,9062817,9630663,10252347,10581822,10936418,11458246,12213730,...,14712845,14448932,14992052,15542582,16197007,16784851,17521747,18219297,18707189,19485394
95,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
186,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
277,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
368,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5

In [106]:
gdp = gdp[0:52]
gdp = gdp[gdp["State"]!='District of Columbia']
gdp = gdp.reset_index(drop=True)
#gdp = gdp.drop(columns=['Description'])
gdp

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States*,All industry total,8577552,9062817,9630663,10252347,10581822,10936418,11458246,12213730,...,14712845,14448932,14992052,15542582,16197007,16784851,17521747,18219297,18707189,19485394
1,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
2,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
3,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
4,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5
5,California,All industry total,1070523.6,1147841.6,1247093,1366561,1384111.2,1436430.9,1527294,1632216.9,...,1990678.2,1920061.8,1974614.5,2050056.8,2144497.3,2262771.2,2396552.1,2557131.9,2665348.9,2797600.9
6,Colorado,All industry total,136675.3,150381.7,164226.8,180605.5,187571.9,190962.8,196483.7,203980.2,...,255566.8,248593.6,255140.5,264431.6,273519.5,288305.2,306362,317977.9,328513.8,345233.1
7,Connecticut,All industry total,138648.8,145495.4,152338.1,165898.7,173127.2,176208.2,181339.7,198662.4,...,240910.9,236393.2,237653.4,236523.7,243801,246632,248954.2,259776,263239.9,264509.9
8,Delaware,All industry total,32967.7,36783.2,40363.6,43389.4,46448.3,45757.9,47761.6,51449.4,...,54787.5,56871.2,57447.4,60357.4,61975.8,60666.1,67178.9,70917.7,70484.1,72461.3
9,Florida,All industry total,401723,430064.2,458318.6,489488.1,516689.6,548540.3,583725.7,635525.5,...,750501.6,724582.2,737791.1,746787.5,769309.1,800704.1,839706,895004.2,938086.1,976385.5
10,Georgia,All industry total,242596.2,264894.9,288994.3,307611.6,318753,326929.6,340410.6,364255.2,...,412911.9,407024.5,416883.8,429574,444132.2,460585.1,484915.4,513100.5,538360.6,563607.6
11,Hawaii,All industry total,37654.9,37624.4,39250.4,41500.2,42894.3,45447.1,48929.1,53761.8,...,66864.7,65692,68196.9,70482.6,73582.7,75788.3,77972.5,82739.9,85648.1,88447.9
12,Idaho,All industry total,29439,30983.9,34138.2,37992.8,37384.1,38715.3,40341.8,43739,...,55546,53775,55170.7,56488.1,57764.4,61017.7,63614.9,66273.6,69203.4,72294.2
13,Illinois,All industry total,415770.7,436166.7,459322.1,487212.7,502260.3,514063.8,529455.4,558748.4,...,646366.6,644690.1,662637.8,688288.9,720702.3,739627.9,765910.2,791625.9,803680.2,822539.6
14,Indiana,All industry total,170545.3,184582.1,193100.6,203052.9,204581.1,212430.3,223495.3,236935.8,...,272845.6,261238.3,280120.7,288749.1,297552.7,308681.7,325040.6,330026.5,338711,352272.7
15,Iowa,All industry total,82572.2,84546.9,87662.3,93028.6,94770.8,98976.1,105073.5,116652.5,...,136553.6,136251.2,141482,147227,157250.8,160299.8,171512.5,177875.4,180179.3,183929.8
16,Kansas,All industry total,74664.6,78478.8,81853,85853.2,88380.4,90949.3,94603.5,97676.4,...,127682.4,124340.7,127744.8,135315.3,140477.8,143220.7,148276.1,151679.9,155580.4,159108.2
17,Kentucky,All industry total,104584,109656.2,115258.5,114293.2,117430.8,122193.1,126970.6,134194.1,...,158099,155779.7,164605.5,169940.7,176302.3,182359.2,186694.5,191916.4,195034.8,202174.9
18,Louisiana,All industry total,116494.7,120429.3,125989.9,132809.9,137845.1,139537.9,154361.6,169873.2,...,215068.9,206884.9,225677,228987.5,233623.1,228967.4,237876.9,234440.9,227983.9,235960.2
19,Maine,All industry total,30630.6,32166.6,34382.1,36841,38500.8,40183.7,41838.5,44526.3,...,49973.8,50556.5,51710.7,51866.7,52874,53719,55875.1,57515.1,59447.3,61702.8
20,Maryland,All industry total,159335.8,169980.1,180207,192106.3,205449.8,218299.3,228690,246762,...,296435.4,302507.3,316451.5,328058.4,334821.6,341255.3,352524.3,367276.7,384376.8,399537.9
21,Massachusetts,All industry total,237316.4,249154.2,264779.4,289926.5,296834.1,303967.1,315299.8,330669.9,...,388583.2,391265.1,409762.5,425593.2,444329.8,454345.7,473454.4,502816.9,519564.2,542978.8
22,Michigan,All industry total,299843.2,312611,337561.2,351572.7,348529,362271.1,373839.3,381228.9,...,386053.9,365591.7,386625.9,401105.4,418857.4,432717.6,448964.4,473729.6,490185,508904.8
23,Minnesota,All industry total,155921.9,166292.7,174650,189964.8,194646.5,202766,215155.9,230282,...,264688,259958.7,271821.2,283807.3,294296.6,306153,319338.9,328455,338364.2,350178.9
24,Mississippi,All industry total,58339.9,60992.3,63827.2,65645.9,67028.6,68865.8,73332.2,77214.4,...,96843.6,93205.6,95208.4,96371.6,99614.6,101638.1,103658.1,105706.7,106848.6,109375.4
25,Missouri,All industry total,163151.9,169368.7,177360.5,187296.8,191199,196597.6,204009.5,214218.1,...,250581.1,251780,258544.1,260093.5,268761.5,277851.1,284729.4,294750.3,295960.5,303763
26,Montana,All industry total,19307.1,20444.9,20829.9,21885.2,22851.7,23880.5,25637.6,27939.2,...,36862.5,35983.9,38054.6,40579.3,42005.8,43141,44529.2,46100.7,45595.5,47079
27,Nebraska,All industry total,49886,51829.3,53689.3,56503.7,59467,61604.4,66415.6,70288.8,...,85200.6,86830.3,91812.8,99613.4,102269,107604.3,111330.7,115269.6,116283.1,119587.5
28,Nevada,All industry total,60593.4,65315,71534.9,76627.1,80426.6,84733.5,90778.8,104420.6,...,129372.4,121109.5,123598.1,126657.1,128043,130621.4,135026.5,144378.9,149739.6,158302.1
29,New Hampshire,All industry total,38214.9,40557.8,41880,45225.5,46629.7,48678.5,51378.4,54126.7,...,60918.7,61937.4,64151.6,65430.5,67689.2,70181.9,72368.7,75892.9,78418.2,81649.7
30,New Jersey,All industry total,307895.7,319946.2,336649.9,362006.9,373755.6,388337.7,405198.5,422889.1,...,495121.8,486512.8,495149,499114.9,519745.8,533686.7,546831.5,569391.3,582070.9,602069
31,New Mexico,All industry total,52511.1,50682.3,53092.8,55232.9,55986.2,58055.5,62895.9,69740.7,...,83724.2,82017.4,83989.2,86625,87601.6,88411.2,92495.9,90849.4,90880,94210.7
32,New York,All industry total,718322.5,745223.7,793721.1,838660.3,877149.3,886792.7,905280.6,955192,...,1099234.4,1152812.1,1213946.9,1236061.4,1322447.9,1355581.4,1427812.7,1488200.7,1540969.7,1606601.3
33,North Carolina,All industry total,233924.3,245907.3,264063.5,275694.2,288683.5,298110,309318.2,328037.6,...,413363.3,406477.4,415206.4,427205.6,439571,455521.6,475227.2,503467.3,518384,540496.6
34,North Dakota,All industry total,15730.3,16792.7,16983.7,17976.1,18919.6,20209,22077.4,23167.8,...,31722.1,32002.5,35426.3,41179.2,51345.1,53881.7,58547.4,54932.7,51099.2,52526.6
35,Ohio,All industry total,343467.2,361629.1,376034.8,391137.8,395622.5,411967,424915.5,445541.1,...,495742.6,480322,497208.2,525388.4,540819.3,561045.5,593030,609633.9,620931.2,645746.9
36,Oklahoma,All industry total,79096,81209.1,84062.9,90792.7,96767,99163,105243.3,113148.7,...,159660,145736.4,152911.4,165035.6,173483.7,182618.4,195689,185460.5,178969.9,188631.7
37,Oregon,All industry total,100888.6,105111.5,107546.3,117258.3,117274.7,121229.5,127211.6,136238.5,...,165189.1,160640.7,163827.6,170621.3,174493.1,179382.7,189344.3,203173.3,215336.1,227154.5
38,Pennsylvania,All industry total,356146.1,372738.5,389715.7,407652.8,424965.2,436985.5,455106.8,481738.9,...,582240.2,577379.8,599312.8,618987.7,641317.3,663900.8,690675.4,710040.5,724668.3,756268.5
39,Rhode Island,All industry total,28929.9,30719.9,32295.5,34516.4,35992.1,38132.1,40272.8,43245.6,...,47107.8,47901.4,49571.8,50175.9,51642,53209.9,54573.3,56843.8,57860,59305.7
40,South Carolina,All industry total,97393,103642.6,110251.8,115246.8,119301.4,124160.1,130337.4,135160.1,...,161804.7,159835.6,163856.8,170087.2,175374.8,183014.9,191967.4,203920.5,212460.2,221689.6
41,South Dakota,All industry total,19000,20184.7,21050.8,22690.7,23512.8,26337.5,27445,29628.9,...,36668.5,36193.1,37484.4,41541.5,43444.6,44814.9,46057,47778.2,48492.9,49813.1
42,Tennessee,All industry total,154412.9,167308.4,175819.8,181629.5,185774.7,195289.2,203833.7,218020.6,...,251609,250544.4,255935.8,267659.1,283721.8,292803.9,304150.4,322893.1,334618.1,349569.2
43,Texas,All industry total,610256.5,645696.9,681335.4,738871,773006.7,787257.8,829764.4,906321,...,1237394.9,1163401.3,1237196.8,1331220.6,1411378.7,1502249.8,1565390.2,1568641.9,1565698.8,1645135.9
44,Utah,All industry total,57699.7,62291.4,66022.6,70291.8,73226,75998.8,79149.1,85701.9,...,115985.4,113332.9,117960.5,124539.4,128721,134252.1,141342.9,149576.7,157474.7,164917
45,Vermont,All industry total,15415,16073.1,17159.3,18311.9,19274.1,20163.3,21130.1,22666,...,25678,25867.8,27108.4,28135.1,28887.4,29098.8,29714.4,30672.9,31552.2,32545.2
46,Virginia,All industry total,217251.9,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,...,399032.1,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1
47,Washington,All industry total,193897.6,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,...,355677.8,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7
48,West Virginia,All industry total,38839.7,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,...,62066.7,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4
49,Wisconsin,All industry total,153240.7,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,...,244759.9,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3
50,Wyoming,All industry total,14724.3,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,...,42540.4,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8

### How to transfer to STATE | YEAR | GDP

In [110]:
income = pd.read_csv("data/SAINC5N_1998_2018_ALL_AREAS.csv")
income.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1998,1999,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,"""00000""",United States,,SAINC5N,10.0,...,Personal income (thousands of dollars),Thousands of dollars,7601594000,8001563000,...,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000,17572929097
1,"""00000""",United States,,SAINC5N,20.0,...,Population (persons) 2/,Number of persons,275854104,279040168,...,306771529,309326085,311580009,313874218,316057727,318386421,320742673,323071342,325147121,327167434
2,"""00000""",United States,,SAINC5N,30.0,...,Per capita personal income (dollars) 3/,Dollars,27557,28675,...,39284,40546,42735,44599,44851,47060,48985,49883,51731,53712
3,"""00000""",United States,,SAINC5N,35.0,...,Earnings by place of work,Thousands of dollars,5707014000,6098042000,...,8688446000,9023198000,9443528000,9901882000,10231478000,10686606000,11110111000,11365731000,11897410000,12427227298
4,"""00000""",United States,,SAINC5N,36.0,...,Less: Contributions for government social ins...,Thousands of dollars,623685000,660310000,...,962827000,982045000,915062000,948953000,1102460000,1151948000,1203451000,1237916000,1296599000,1359022396

In [111]:
income = income[(income["Description"]=='Personal income (thousands of dollars)')
       |(income["Description"]=='Population (persons) 2/')
       |(income["Description"]=='Per capita personal income (dollars) 3/')]

In [112]:
income.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'LineCode',
       'IndustryClassification', 'Description', 'Unit', '1998', '1999', '2000',
       '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009',
       '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [113]:
income = income.drop(columns=['GeoFIPS','Region','TableName','Unit','IndustryClassification','IndustryClassification','LineCode'])
income.head()

,GeoName,Description,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,Personal income (thousands of dollars),7601594000,8001563000,8650325000,9001839000,9155663000,9480901000,10028781000,10593946000,...,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000,17572929097
1,United States,Population (persons) 2/,275854104,279040168,282162411,284968955,287625193,290107933,292805298,295516599,...,306771529,309326085,311580009,313874218,316057727,318386421,320742673,323071342,325147121,327167434
2,United States,Per capita personal income (dollars) 3/,27557,28675,30657,31589,31832,32681,34251,35849,...,39284,40546,42735,44599,44851,47060,48985,49883,51731,53712
131,Alabama,Personal income (thousands of dollars),100081022,103536039,108506247,112312142,115166086,120209889,128669896,136215282,...,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425,206924098
132,Alabama,Population (persons) 2/,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,...,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871

In [114]:
income.rename(columns={'GeoName': 'State'}, inplace=True)

In [115]:
income = income.reset_index(drop=True)

In [119]:
income = income[(income["State"]!='New England')
       &(income["State"]!='Mideast')
       &(income["State"]!='Great Lakes')
       &(income["State"]!='Plains')
       &(income["State"]!='Southeast')
       &(income["State"]!='Southwest')
       &(income["State"]!='Rocky Mountain') 
       &(income["State"]!='Far West')
       &(income["State"]!='District of Columbia')]

In [120]:
income

,State,Description,1998,1999,2000,2001,2002,2003,2004,2005,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,Personal income (thousands of dollars),7601594000,8001563000,8650325000,9001839000,9155663000,9480901000,10028781000,10593946000,...,12051307000,12541995000,13315478000,13998383000,14175503000,14983140000,15711634000,16115630000,16820250000,17572929097
1,United States,Population (persons) 2/,275854104,279040168,282162411,284968955,287625193,290107933,292805298,295516599,...,306771529,309326085,311580009,313874218,316057727,318386421,320742673,323071342,325147121,327167434
2,United States,Per capita personal income (dollars) 3/,27557,28675,30657,31589,31832,32681,34251,35849,...,39284,40546,42735,44599,44851,47060,48985,49883,51731,53712
3,Alabama,Personal income (thousands of dollars),100081022,103536039,108506247,112312142,115166086,120209889,128669896,136215282,...,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425,206924098
4,Alabama,Population (persons) 2/,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,...,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
5,Alabama,Per capita personal income (dollars) 3/,22721,23371,24372,25139,25706,26693,28399,29808,...,32631,33845,34941,35806,36046,37217,38594,39260,40802,42334
6,Alaska,Personal income (thousands of dollars),18046020,18603123,20020289,21181698,22201930,23190634,24270355,25888513,...,32749086,35162893,37580637,38822647,38502520,40935223,42290967,41461355,42300914,44015234
7,Alaska,Population (persons) 2/,619932,624779,627963,633714,642337,648414,659286,666946,...,698895,713906,722038,730399,737045,736307,737547,741504,739786,737438
8,Alaska,Per capita personal income (dollars) 3/,29110,29776,31881,33425,34564,35765,36813,38817,...,46858,49254,52048,53153,52239,55595,57340,55915,57180,59687
9,Arizona,Personal income (thousands of dollars),117363581,124099462,134952008,140805569,145930328,154810692,169309942,188149041,...,211397715,215012419,225853155,236455566,242571877,257066980,270806695,280988093,296648898,313040186
10,Arizona,Population (persons) 2/,4883342,5023823,5160586,5273477,5396255,5510364,5652404,5839077,...,6343154,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
11,Arizona,Per capita personal income (dollars) 3/,24033,24702,26151,26701,27043,28094,29954,32222,...,33327,33555,34889,36064,36559,38175,39629,40456,42085,43650
12,Arkansas,Personal income (thousands of dollars),55917111,58129532,61136633,64374920,65878184,69721985,74158872,78138502,...,90242461,93103196,99328677,106536954,106429638,112619155,116248596,118769649,123313411,128286006
13,Arkansas,Population (persons) 2/,2626289,2651860,2678588,2691571,2705927,2724816,2749686,2781097,...,2896843,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
14,Arkansas,Per capita personal income (dollars) 3/,21291,21920,22824,23917,24346,25588,26970,28096,...,31152,31863,33781,36088,35961,37948,39030,39717,41063,42566
15,California,Personal income (thousands of dollars),962746138,1028383305,1135314517,1175177709,1193779435,1249800288,1329225078,1408965257,...,1554229664,1627839016,1738413111,1853467228,1885672430,2021640034,2173299670,2259413865,2364129404,2475727462
16,California,Population (persons) 2/,32987675,33499204,33987977,34479458,34871843,35253159,35574576,35827943,...,36961229,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045
17,California,Per capita personal income (dollars) 3/,29185,30699,33403,34083,34233,35452,37364,39326,...,42050,43617,46183,48826,49259,52340,55793,57625,60004,62586
18,Colorado,Personal income (thousands of dollars),122314720,132204964,147234259,154409814,154765500,157543201,163427008,174771645,...,198147196,204691900,222571956,236687388,248958974,271101038,284142915,289620855,306411131,323767258
19,Colorado,Population (persons) 2/,4116639,4226018,4326921,4425687,4490406,4528732,4575013,4631888,...,4972195,5048281,5121771,5193721,5270482,5351218,5452107,5540921,5615902,5695564
20,Colorado,Per capita personal income (dollars) 3/,29712,31284,34027,34889,34466,34787,35722,37732,...,39851,40547,43456,45572,47236,50662,52116,52269,54561,56846
21,Connecticut,Personal income (thousands of dollars),126866742,134176304,147015181,155326530,155240907,157487981,166423442,175733011,...,213686792,222631708,229055119,233699236,229251778,239857145,246012167,249513176,257713569,266382045
22,Connecticut,Population (persons) 2/,3365352,3386401,3411777,3432835,3458749,3484336,3496094,3506956,...,3561807,3579125,3588023,3594395,3594915,3594783,3587509,3578674,3573880,3572665
23,Connecticut,Per capita personal income (dollars) 3/,37698,39622,43091,45247,44884,45199,47603,50110,...,59994,62203,63839,65018,63771,66724,68575,69722,72110,74561
24,Delaware,Personal income (thousands of dollars),22495269,24140107,26628461,29340441,30328740,31030768,32295515,33165848,...,36291060,36707178,39796706,40309220,40897981,42751170,45012206,45916981,47782056,49759880
25,Delaware,Population (persons) 2/,763335,774990,786373,795699,806169,818003,830803,845150,...,891730,899595,907316,915188,923638,932596,941413,949216,957078,967171
26,Delaware,Per capita personal income (dollars) 3/,29470,31149,33862,36874,37621,37935,38873,39243,...,40697,40804,43862,44045,44279,45841,47813,48374,49925,51449
30,Florida,Personal income (thousands of dollars),415546714,435726043,471082210,495620035,512579522,538103968,587659123,641627431,...,682319559,725801140,766185838,791918553,794796980,858498660,919226924,953260614,1000624065,1052550154
31,Florida,Population (persons) 2/,15486559,15759421,16047515,16356966,16689370,17004085,17415318,17842038,...,18652644,18845785,19093352,19326230,19563166,19860330,20224249,20629982,20976812,21299325
32,Florida,Per capita personal income (dollars) 3/,26833,27649,29355,30300,30713,31646,33744,35962,...,36580,38513,40128,40976,40627,43227,45452,46208,47701,49417
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,South Dakota,Personal income (thousands of dollars),18240660,19093986,20324974,20982544,21003482,22919639,24593233,26055070,...,31681752,33512286,36635975,37522187,37990711,39823286,41550298,41788577,42455313,44236332
127,South Dakota,Population (persons) 2/,746058,750412,755844,757972,760020,763729,770396,775493,...,807067,816165,823484,833496,842270,849088,853933,862890,873286,882235
128,South Dakota,Per capita personal income (dollars) 3/,24449,25445,26890,27682,27635,30010,31923,33598,...,39255,41061,44489,45018,45105,46901,48658,48429,48616,50141
129,Tennessee,Personal income (thousands of dollars),141380922,147003866,155574409,159459938,164012570,170680041,180733335,188857550,...,217319201,227763359,241769012,254405967,256705809,267989304,282149885,292119668,305690612,319400765
130,Tennessee,Population (persons) 2/,5570045,5638706,5703719,5750789,5795918,5847812,5910809,5991057,...,6306019,6355301,6397410,6451281,6493432,6540826,6590808,6645011,6708794,6770010
131,Tennessee,Per capita personal income (dollars) 3/,25382,26070,27276,27728,28298,29187,30577,31523,...,34462,35838,37792,39435,39533,40972,42810,43961,45566,47179
132,Texas,Personal income (thousands of dollars),514479641,541693745,589618264,625351776,632485656,655821615,686873443,747110864,...,911226962,966900333,1058034189,1133801108,1160361606,1250849527,1282379851,1287687296,1340568414,1411021380
133,Texas,Population (persons) 2/,20157531,20558220,20944499,21319622,21690325,22030931,22394023,22778123,...,24801761,25242679,25646227,26089620,26489464,26977142,27486814,27937492,28322717,28701845
134,Texas,Per capita personal income (dollars) 3/,25523,26349,28151,29332,29160,29768,30672,32799,...,36740,38304,41255,43458,43805,46367,46654,46092,47332,49161
135,Utah,Personal income (thousands of dollars),48820755,51414430,55060116,57414084,59048775,61152585,65206580,71386870,...,86896455,89346024,96312302,103227839,106612905,113230001,121876444,128407025,134803819,143323886
136,Utah,Population (persons) 2/,2165960,2203482,2244502,2283715,2324815,2360137,2401580,2457719,...,2723421,2775334,2814216,2853467,2897927,2937399,2982497,3042613,3103118,3161105
137,Utah,Per capita personal income (dollars) 3/,22540,23333,24531,25141,25399,25911,27152,29046,...,31907,32193,34223,36176,36789,38548,40864,42203,43441,45340
138,Vermont,Personal income (thousands of dollars),15303669,16302577,17627375,18692893,19073448,19812931,20964716,21467309,...,24990365,25787140,27350297,28303845,28691965,29807664,30865467,31571775,32570355,33568654
139,Vermont,Population (persons) 2/,600416,604683,609618,612223,615442,617858,619920,621215,...,624817,625880,626979,626063,626212,625218,625197,623644,624525,626299
140,Vermont,Per capita personal income (dollars) 3/,25488,26961,28915,30533,30991,32067,33818,34557,...,39996,41201,43622,45209,45818,47676,49369,50625,52152,53598
141,Virginia,Personal income (thousands of dollars),199655973,213981635,232033571,244136715,250928132,265980394,284957124,304720531,...,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276,485098429
142,Virginia,Population (persons) 2/,6900918,7000174,7105817,7198362,7286873,7366977,7475575,7577105,...,7925937,8023680,8100469,8185229,8253053,8312076,8362907,8410946,8465207,8517685
143,Virginia,Per capita personal income (dollars) 3/,28932,30568,32654,33916,34436,36104,38118,40216,...,44026,45413,47688,49452,48717,50557,52712,53345,55137,56952
144,Washington,Personal income (thousands of dollars),169625801,181364803,194207085,199075219,202861517,210864222,225994043,235226474,...,279037778,286732273,303939314,328949369,335890860,362951551,384651032,404232131,428765189,458017320
145,Washington,Population (persons) 2/,5769562,5842564,5910512,5985722,6052349,6104115,6178645,6257305,...,6667426,6742902,6821655,6892876,6962906,7052439,7163543,7294680,7425432,7535591
146,Washington,Per capita personal income (dollars) 3/,29400,31042,32858,33258,33518,34545,36577,37592,...,41851,42524,44555,47723,48240,51465,53696,55415,57743,60781
147,West Virginia,Personal income (thousands of dollars),37281527,38282569,40452595,42849799,44286601,44871402,46485544,48840352,...,58149798,60061547,63448690,65251759,64792619,66679676,67736679,67582876,69872741,73277645
148,West Virginia,Population (persons) 2/,1815609,1811799,1807021,1801481,1805414,1812295,1816438,1820492,...,1847775,1854214,1856074,1856764,1853873,1849467,1841996,1830929,1817048,1805832
149,West Virginia,Per capita personal income (dollars) 3/,20534,21130,22386,23786,24530,24759,25592,26828,...,31470,32392,34184,35143,34950,36053,36774,36912,38454,40578
150,Wisconsin,Personal income (thousands of dollars),143010508,149069687,158927569,166810412,171173593,175869838,183912501,190527609,...,215913287,221895293,234574850,245700352,247127445,257572422,268237980,273787486,283635828,295073161
151,Wisconsin,Population (persons) 2/,5297672,5332666,5373999,5406835,5445162,5479203,5514026,5546166,...,5669264,5690479,5704755,5719855,5736952,5751974,5761406,5772958,5792051,5813568
152,Wisconsin,Per capita personal income (dollars) 3/,26995,27954,29573,30852,31436,32098,33354,34353,...,38085,38994,41119,42956,43076,44780,46558,47426,48970,50756
153,Wyoming,Personal income (thousands of dollars),12656287,13504808,14514258,15320219,15724542,16668843,17806977,19574481,...,24346798,25967136,28426349,30952483,30911890,33019911,33514584,32434582,33221417,34718886
154,Wyoming,Population (persons) 2/,490787,491780,494300,494657,500017,503453,509106,514157,...,559851,564483,567224,576270,582123,582548,585668,584290,578934,577737
155,Wyoming,Per capita personal income (dollars) 3/,25788,27461,29363,30971,31448,33109,34977,38071,...,43488,46002,50115,53712,53102,56682,57225,55511,57384,60095

# how to combine two dataframe

In [83]:
pce = pd.read_csv("data/SAEXP1_1997_2017_ALL_AREAS_.csv")
pce.head()

,GeoFIPS,GeoName,Region,TableName,ComponentName,Unit,Line,IndustryClassification,Description,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,SAEXP1,Total personal consumption expenditures (PCE) ...,Millions of current dollars,1.0,...,Personal consumption expenditures,5534091.8,...,9968412.9,9833212.0,10177464.5,10631511.2,10997927.0,11309307.3,11816077.4,12287647.0,12760282.1,13314862.9
1,"""00000""",United States,,SAEXP1,Total personal consumption expenditures (PCE) ...,Millions of current dollars,2.0,...,Goods,2003807.2,...,3355303.7,3171025.7,3309453.5,3508522.9,3628852.0,3722069.7,3853556.2,3912797.9,3989707.5,4149547.3
2,"""00000""",United States,,SAEXP1,Total personal consumption expenditures (PCE) ...,Millions of current dollars,3.0,...,Durable goods,715529.6,...,1098760.6,1012121.3,1048962.5,1093498.8,1144221.0,1189413.3,1242356.8,1306566.1,1346604.1,1406480.5
3,"""00000""",United States,,SAEXP1,Total personal consumption expenditures (PCE) ...,Millions of current dollars,4.0,...,Motor vehicles and parts,293082.5,...,343337.2,318583.1,344466.2,365178.4,396607.9,417533.0,442304.5,473862.6,483676.4,498239.6
4,"""00000""",United States,,SAEXP1,Total personal consumption expenditures (PCE) ...,Millions of current dollars,5.0,...,Furnishings and durable household equipment,160490.2,...,264348.6,238275.2,240924.2,246861.8,253938.0,263589.7,274214.3,288096.3,301272.8,315420.1

In [85]:
pce.columns

Index(['GeoFIPS', 'GeoName', 'Region', 'TableName', 'ComponentName', 'Unit',
       'Line', 'IndustryClassification', 'Description', '1997', '1998', '1999',
       '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017'],
      dtype='object')

In [86]:
pce = pce[pce["Description"]=='Personal consumption expenditures']
pce = pce.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','Line','IndustryClassification'])
pce.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,8206825.4,...,9968412.9,9833212.0,10177464.5,10631511.2,10997927.0,11309307.3,11816077.4,12287647.0,12760282.1,13314862.9
24,Alabama,Personal consumption expenditures,74340.3,77946.9,82570.0,87080.2,90325.4,94859.3,99368.5,105420.7,...,127649.7,126501.6,130833.8,135211.8,138773.3,141400.3,145796.1,149745.4,153456.5,158374.9
48,Alaska,Personal consumption expenditures,13799.3,14475.2,15414.0,16578.0,17624.6,18929.7,20110.1,21414.2,...,26488.9,26806.2,27841.0,29373.8,30489.3,31104.6,32319.5,33504.1,34332.0,35537.1
72,Arizona,Personal consumption expenditures,91972.3,99006.9,107470.5,116521.5,121913.8,128044.8,135951.0,147499.2,...,186485.1,181387.9,186603.4,193885.6,199385.3,204507.1,213689.9,221710.7,229755.5,242400.0
96,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704.0,51688.4,53668.9,56460.0,59980.2,...,74688.7,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8

In [93]:
pcep = pd.read_csv("data/SAEXP2_1997_2017_ALL_AREAS_.csv")
pcep.head()

,GeoFIPS,GeoName,Region,TableName,ComponentName,Unit,Line,IndustryClassification,Description,1997,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,"""00000""",United States,,SAEXP2,Per capita personal consumption expenditures (...,Dollars,1.0,...,Per capita personal consumption expenditures,20298.0,...,32781.0,32054.0,32901.0,34114.0,35026.0,35762.0,37085.0,38275.0,39456.0,40878.0
1,"""00000""",United States,,SAEXP2,Per capita personal consumption expenditures (...,Dollars,2.0,...,Goods,7349.0,...,11034.0,10337.0,10698.0,11258.0,11557.0,11770.0,12094.0,12188.0,12337.0,12740.0
2,"""00000""",United States,,SAEXP2,Per capita personal consumption expenditures (...,Dollars,3.0,...,Durable goods,2624.0,...,3613.0,3299.0,3391.0,3509.0,3644.0,3761.0,3899.0,4070.0,4164.0,4318.0
3,"""00000""",United States,,SAEXP2,Per capita personal consumption expenditures (...,Dollars,4.0,...,Motor vehicles and parts,1075.0,...,1129.0,1039.0,1114.0,1172.0,1263.0,1320.0,1388.0,1476.0,1496.0,1530.0
4,"""00000""",United States,,SAEXP2,Per capita personal consumption expenditures (...,Dollars,5.0,...,Furnishings and durable household equipment,589.0,...,869.0,777.0,779.0,792.0,809.0,834.0,861.0,897.0,932.0,968.0

In [94]:
pcep = pcep[pcep["Description"]=='Per capita personal consumption expenditures']
pcep = pcep.drop(columns=['GeoFIPS','Region','TableName','ComponentName','Unit','Line','IndustryClassification'])
pcep.head()

,GeoName,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Per capita personal consumption expenditures,20298.0,21295.0,22490.0,23953.0,24781.0,25514.0,26603.0,28028.0,...,32781.0,32054.0,32901.0,34114.0,35026.0,35762.0,37085.0,38275.0,39456.0,40878.0
24,Alabama,Per capita personal consumption expenditures,17020.0,17696.0,18638.0,19559.0,20218.0,21174.0,22065.0,23268.0,...,27055.0,26587.0,27339.0,28177.0,28827.0,29290.0,30123.0,30870.0,31572.0,32489.0
48,Alaska,Per capita personal consumption expenditures,22512.0,23350.0,24671.0,26400.0,27812.0,29470.0,31014.0,32481.0,...,38532.0,38355.0,38992.0,40669.0,41719.0,42218.0,43867.0,45400.0,46299.0,48036.0
72,Arizona,Per capita personal consumption expenditures,19416.0,20274.0,21392.0,22579.0,23118.0,23728.0,24672.0,26095.0,...,29693.0,28596.0,29125.0,29988.0,30467.0,30910.0,31863.0,32594.0,33256.0,34548.0
96,Arkansas,Per capita personal consumption expenditures,15785.0,16547.0,17556.0,18556.0,19204.0,19834.0,20721.0,21813.0,...,25983.0,25678.0,26356.0,27438.0,28212.0,28846.0,29824.0,30649.0,31695.0,32875.0

In [95]:
pce.rename(columns={'GeoName': 'State'}, inplace=True)
pcep.rename(columns={'GeoName': 'State'}, inplace=True)
pce = pce[pce["State"]!='District of Columbia']
pcep = pcep[pcep["State"]!='District of Columbia']
pce = pce.reset_index(drop=True)
pcep = pcep.reset_index(drop=True)

In [91]:
pce.head(15)

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Personal consumption expenditures,5534091.8,5874285.0,6275655.2,6758605.7,7061876.3,7338427.6,7717658.4,8206825.4,...,9968412.9,9833212.0,10177464.5,10631511.2,10997927.0,11309307.3,11816077.4,12287647.0,12760282.1,13314862.9
1,Alabama,Personal consumption expenditures,74340.3,77946.9,82570.0,87080.2,90325.4,94859.3,99368.5,105420.7,...,127649.7,126501.6,130833.8,135211.8,138773.3,141400.3,145796.1,149745.4,153456.5,158374.9
2,Alaska,Personal consumption expenditures,13799.3,14475.2,15414.0,16578.0,17624.6,18929.7,20110.1,21414.2,...,26488.9,26806.2,27841.0,29373.8,30489.3,31104.6,32319.5,33504.1,34332.0,35537.1
3,Arizona,Personal consumption expenditures,91972.3,99006.9,107470.5,116521.5,121913.8,128044.8,135951.0,147499.2,...,186485.1,181387.9,186603.4,193885.6,199385.3,204507.1,213689.9,221710.7,229755.5,242400.0
4,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704.0,51688.4,53668.9,56460.0,59980.2,...,74688.7,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8
5,California,Personal consumption expenditures,689108.2,730689.8,784254.8,853510.2,893521.4,930236.8,978212.2,1044324.0,...,1267011.9,1226944.4,1279143.2,1340571.7,1395324.9,1434927.9,1507506.4,1589353.4,1671196.1,1754083.3
6,Colorado,Personal consumption expenditures,89469.6,96764.3,106165.5,117009.2,123240.4,126589.8,132075.9,139882.6,...,170934.8,168433.3,172803.3,180175.9,186386.6,192697.4,203271.8,214032.4,224731.6,236838.6
7,Connecticut,Personal consumption expenditures,85205.2,90672.0,96487.0,102017.3,106372.6,110751.2,115556.4,123120.1,...,149127.3,145914.6,149077.3,153965.1,157528.7,161746.6,167968.9,172445.3,176371.9,181992.1
8,Delaware,Personal consumption expenditures,16225.9,17344.9,18709.8,19863.8,20981.1,22095.8,23431.0,25146.7,...,31111.7,30751.9,32001.7,33441.6,34362.9,35315.6,36840.9,38239.7,39353.4,40738.8
9,Florida,Personal consumption expenditures,314431.2,336078.2,356118.0,386621.9,406289.8,420568.0,445273.6,482756.1,...,597531.5,588295.9,609692.8,639640.5,665263.8,683857.4,722928.3,763109.0,794065.9,829401.5
10,Georgia,Personal consumption expenditures,145244.3,154480.2,167173.2,181590.0,190153.9,198392.5,209393.0,222435.3,...,273696.8,268073.5,276667.8,289926.0,299654.5,308652.6,323403.4,335349.4,349126.1,365321.2
11,Hawaii,Personal consumption expenditures,25888.4,26480.1,27473.0,29315.1,30507.9,31692.0,33813.0,36309.7,...,46601.1,46360.6,48196.8,50614.7,53034.4,54875.7,57739.1,60117.0,62806.8,65767.9
12,Idaho,Personal consumption expenditures,21121.2,22323.0,24038.2,26034.1,27122.4,28279.9,30059.8,32431.9,...,42178.5,41163.0,42494.6,44493.2,46269.0,48498.3,51034.9,53641.4,56771.1,60675.4
13,Illinois,Personal consumption expenditures,259886.5,274525.4,289477.0,313177.0,324450.5,335134.3,349207.8,367952.1,...,436806.7,427637.1,440902.0,456498.1,466867.5,475535.8,494662.4,512854.0,529435.3,549556.3
14,Indiana,Personal consumption expenditures,111212.2,117360.1,124922.5,132487.8,138115.6,143456.1,150309.7,160435.4,...,187838.9,185227.3,190953.9,199013.2,206726.3,211094.7,217224.1,223375.2,231330.9,242040.6

In [96]:
pcep.head(15)

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
0,United States,Per capita personal consumption expenditures,20298.0,21295.0,22490.0,23953.0,24781.0,25514.0,26603.0,28028.0,...,32781.0,32054.0,32901.0,34114.0,35026.0,35762.0,37085.0,38275.0,39456.0,40878.0
1,Alabama,Per capita personal consumption expenditures,17020.0,17696.0,18638.0,19559.0,20218.0,21174.0,22065.0,23268.0,...,27055.0,26587.0,27339.0,28177.0,28827.0,29290.0,30123.0,30870.0,31572.0,32489.0
2,Alaska,Per capita personal consumption expenditures,22512.0,23350.0,24671.0,26400.0,27812.0,29470.0,31014.0,32481.0,...,38532.0,38355.0,38992.0,40669.0,41719.0,42218.0,43867.0,45400.0,46299.0,48036.0
3,Arizona,Per capita personal consumption expenditures,19416.0,20274.0,21392.0,22579.0,23118.0,23728.0,24672.0,26095.0,...,29693.0,28596.0,29125.0,29988.0,30467.0,30910.0,31863.0,32594.0,33256.0,34548.0
4,Arkansas,Per capita personal consumption expenditures,15785.0,16547.0,17556.0,18556.0,19204.0,19834.0,20721.0,21813.0,...,25983.0,25678.0,26356.0,27438.0,28212.0,28846.0,29824.0,30649.0,31695.0,32875.0
5,California,Per capita personal consumption expenditures,21212.0,22150.0,23411.0,25112.0,25915.0,26676.0,27748.0,29356.0,...,34614.0,33195.0,34268.0,35585.0,36701.0,37419.0,38952.0,40719.0,42528.0,44366.0
6,Colorado,Per capita personal consumption expenditures,22266.0,23506.0,25122.0,27042.0,27847.0,28191.0,29164.0,30575.0,...,34958.0,33875.0,34232.0,35215.0,35938.0,36617.0,38049.0,39341.0,40638.0,42239.0
7,Connecticut,Per capita personal consumption expenditures,25439.0,26943.0,28492.0,29902.0,30987.0,32021.0,33165.0,35216.0,...,42060.0,40966.0,41640.0,42864.0,43786.0,44899.0,46656.0,47983.0,49160.0,50720.0
8,Delaware,Per capita personal consumption expenditures,21592.0,22722.0,24142.0,25260.0,26368.0,27408.0,28644.0,30268.0,...,35199.0,34486.0,35569.0,36835.0,37479.0,38174.0,39410.0,40504.0,41307.0,42351.0
9,Florida,Per capita personal consumption expenditures,20705.0,21701.0,22597.0,24092.0,24839.0,25200.0,26186.0,27720.0,...,32251.0,31540.0,32351.0,33494.0,34396.0,34918.0,36332.0,37650.0,38441.0,39525.0
10,Georgia,Per capita personal consumption expenditures,18899.0,19645.0,20777.0,22072.0,22699.0,23318.0,24284.0,25365.0,...,28796.0,27864.0,28485.0,29552.0,30234.0,30922.0,32071.0,32879.0,33851.0,35028.0
11,Hawaii,Per capita personal consumption expenditures,21366.0,21790.0,22699.0,24157.0,24885.0,25566.0,27025.0,28510.0,...,34980.0,34425.0,35340.0,36722.0,38078.0,38973.0,40727.0,42148.0,43961.0,46071.0
12,Idaho,Per capita personal consumption expenditures,17192.0,17825.0,18844.0,20035.0,20548.0,21099.0,22048.0,23302.0,...,27490.0,26481.0,27051.0,28104.0,29015.0,30120.0,31302.0,32523.0,33792.0,35339.0
13,Illinois,Per capita personal consumption expenditures,21327.0,22370.0,23422.0,25187.0,25980.0,26756.0,27812.0,29226.0,...,34267.0,33418.0,34335.0,35491.0,36252.0,36891.0,38398.0,39873.0,41247.0,42927.0
14,Indiana,Per capita personal consumption expenditures,18675.0,19564.0,20666.0,21748.0,22539.0,23304.0,24257.0,25740.0,...,29237.0,28676.0,29423.0,30545.0,31630.0,32142.0,32947.0,33790.0,34870.0,36305.0

In [124]:
pce = pce[0:51]

In [125]:
pcep = pcep[0:51]

# COMBINE

In [129]:
gg = pd.concat([pce, pcep,income,gdp], sort=False)
gg

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,United States,Personal consumption expenditures,5.53409e+06,5.87428e+06,6.27566e+06,6.75861e+06,7.06188e+06,7.33843e+06,7.71766e+06,8.20683e+06,...,9.83321e+06,1.01775e+07,1.06315e+07,1.09979e+07,1.13093e+07,1.18161e+07,1.22876e+07,1.27603e+07,1.33149e+07,NaN
1,Alabama,Personal consumption expenditures,74340.3,77946.9,82570,87080.2,90325.4,94859.3,99368.5,105421,...,126502,130834,135212,138773,141400,145796,149745,153456,158375,NaN
2,Alaska,Personal consumption expenditures,13799.3,14475.2,15414,16578,17624.6,18929.7,20110.1,21414.2,...,26806.2,27841,29373.8,30489.3,31104.6,32319.5,33504.1,34332,35537.1,NaN
3,Arizona,Personal consumption expenditures,91972.3,99006.9,107470,116522,121914,128045,135951,147499,...,181388,186603,193886,199385,204507,213690,221711,229756,242400,NaN
4,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704,51688.4,53668.9,56460,59980.2,...,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8,NaN
5,California,Personal consumption expenditures,689108,730690,784255,853510,893521,930237,978212,1.04432e+06,...,1.22694e+06,1.27914e+06,1.34057e+06,1.39532e+06,1.43493e+06,1.50751e+06,1.58935e+06,1.6712e+06,1.75408e+06,NaN
6,Colorado,Personal consumption expenditures,89469.6,96764.3,106166,117009,123240,126590,132076,139883,...,168433,172803,180176,186387,192697,203272,214032,224732,236839,NaN
7,Connecticut,Personal consumption expenditures,85205.2,90672,96487,102017,106373,110751,115556,123120,...,145915,149077,153965,157529,161747,167969,172445,176372,181992,NaN
8,Delaware,Personal consumption expenditures,16225.9,17344.9,18709.8,19863.8,20981.1,22095.8,23431,25146.7,...,30751.9,32001.7,33441.6,34362.9,35315.6,36840.9,38239.7,39353.4,40738.8,NaN
9,Florida,Personal consumption expenditures,314431,336078,356118,386622,406290,420568,445274,482756,...,588296,609693,639640,665264,683857,722928,763109,794066,829402,NaN
10,Georgia,Personal consumption expenditures,145244,154480,167173,181590,190154,198392,209393,222435,...,268074,276668,289926,299654,308653,323403,335349,349126,365321,NaN
11,Hawaii,Personal consumption expenditures,25888.4,26480.1,27473,29315.1,30507.9,31692,33813,36309.7,...,46360.6,48196.8,50614.7,53034.4,54875.7,57739.1,60117,62806.8,65767.9,NaN
12,Idaho,Personal consumption expenditures,21121.2,22323,24038.2,26034.1,27122.4,28279.9,30059.8,32431.9,...,41163,42494.6,44493.2,46269,48498.3,51034.9,53641.4,56771.1,60675.4,NaN
13,Illinois,Personal consumption expenditures,259886,274525,289477,313177,324450,335134,349208,367952,...,427637,440902,456498,466868,475536,494662,512854,529435,549556,NaN
14,Indiana,Personal consumption expenditures,111212,117360,124922,132488,138116,143456,150310,160435,...,185227,190954,199013,206726,211095,217224,223375,231331,242041,NaN
15,Iowa,Personal consumption expenditures,53685.2,56692.1,60175.3,63726.6,65572.5,67251.5,70629.4,75020.5,...,90328.9,93260.4,97655.1,100615,103192,107297,110453,114223,118444,NaN
16,Kansas,Personal consumption expenditures,47648.9,50892.2,54497.4,58190.4,60465.4,62183.2,65239.5,69175.3,...,83745.7,85461.5,89189.3,92119.1,94035.1,97426.1,100215,103082,106429,NaN
17,Kentucky,Personal consumption expenditures,67463,71436.2,75951.9,81300.5,84144.4,87727.4,92015.3,97305.2,...,115741,119806,125238,128650,131287,135853,140416,145612,150485,NaN
18,Louisiana,Personal consumption expenditures,74088.6,78178.3,82124.4,86643.3,90022.5,93570.2,98760.7,104689,...,126670,131421,136252,140008,143882,149294,154318,157893,161794,NaN
19,Maine,Personal consumption expenditures,25586.7,27439.5,29458.9,31242,33014.8,34823.7,36972.7,39375.2,...,46664.7,48018.6,49568.6,50396.9,51359.3,52999.6,54288.9,55839.1,57930.3,NaN
20,Maryland,Personal consumption expenditures,112123,118596,126645,137125,145330,152628,161393,172122,...,207450,214790,222358,229128,234668,243917,252958,262066,272556,NaN
21,Massachusetts,Personal consumption expenditures,158944,169102,180033,195220,204870,210851,221164,234442,...,274839,282701,292821,301958,310531,324425,338224,350556,365405,NaN
22,Michigan,Personal consumption expenditures,201735,211894,225614,238774,246787,254304,263820,276094,...,304996,313221,325382,332662,339771,352750,363927,377305,390895,NaN
23,Minnesota,Personal consumption expenditures,108022,114388,124136,135428,141215,147423,154101,162362,...,185188,191103,200194,206250,212594,221527,230061,240189,252923,NaN
24,Mississippi,Personal consumption expenditures,40277.8,42750.6,45774.3,48686.3,50836.2,53166.4,55902.8,59359.7,...,71940.1,74667.4,77788,79897.8,81433.1,83381.9,85073,87163.8,89604.2,NaN
25,Missouri,Personal consumption expenditures,110400,116591,124195,131533,137083,143460,149434,155814,...,184807,190110,198834,205279,208995,214539,221232,227513,236100,NaN
26,Montana,Personal consumption expenditures,15661.3,16535.6,17628.9,18847.8,19865,21036,22310.2,23942.2,...,30706.1,31759.3,33343.7,34814.6,36152.9,37700.9,39333.4,40839.6,43023.2,NaN
27,Nebraska,Personal consumption expenditures,32246,33927.6,36110.9,38744.4,40537.3,41816.9,44204,47290.5,...,56916.5,59503.4,62204.4,64460.2,66332.2,68818.8,71167.6,74126.7,77111.1,NaN
28,Nevada,Personal consumption expenditures,35944.7,38944,43618,48154.7,51491.2,55146.7,59520.6,66206.3,...,87018.9,89586.7,93580.1,96883.3,100070,105290,109976,114472,119339,NaN
29,New Hampshire,Personal consumption expenditures,27969.5,29912.7,32198.6,34806.8,36661,38439.9,41151.3,44047.7,...,53250.3,54544.8,56367.6,57663.8,59334.5,61288,63087.3,64966.2,67495.6,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21,Massachusetts,All industry total,237316.4,249154.2,264779.4,289926.5,296834.1,303967.1,315299.8,330669.9,...,391265.1,409762.5,425593.2,444329.8,454345.7,473454.4,502816.9,519564.2,542978.8,NaN
22,Michigan,All industry total,299843.2,312611,337561.2,351572.7,348529,362271.1,373839.3,381228.9,...,365591.7,386625.9,401105.4,418857.4,432717.6,448964.4,473729.6,490185,508904.8,NaN
23,Minnesota,All industry total,155921.9,166292.7,174650,189964.8,194646.5,202766,215155.9,230282,...,259958.7,271821.2,283807.3,294296.6,306153,319338.9,328455,338364.2,350178.9,NaN
24,Mississippi,All industry total,58339.9,60992.3,63827.2,65645.9,67028.6,68865.8,73332.2,77214.4,...,93205.6,95208.4,96371.6,99614.6,101638.1,103658.1,105706.7,106848.6,109375.4,NaN
25,Missouri,All industry total,163151.9,169368.7,177360.5,187296.8,191199,196597.6,204009.5,214218.1,...,251780,258544.1,260093.5,268761.5,277851.1,284729.4,294750.3,295960.5,303763,NaN
26,Montana,All industry total,19307.1,20444.9,20829.9,21885.2,22851.7,23880.5,25637.6,27939.2,...,35983.9,38054.6,40579.3,42005.8,43141,44529.2,46100.7,45595.5,47079,NaN
27,Nebraska,All industry total,49886,51829.3,53689.3,56503.7,59467,61604.4,66415.6,70288.8,...,86830.3,91812.8,99613.4,102269,107604.3,111330.7,115269.6,116283.1,119587.5,NaN
28,Nevada,All industry total,60593.4,65315,71534.9,76627.1,80426.6,84733.5,90778.8,104420.6,...,121109.5,123598.1,126657.1,128043,130621.4,135026.5,144378.9,149739.6,158302.1,NaN
29,New Hampshire,All industry total,38214.9,40557.8,41880,45225.5,46629.7,48678.5,51378.4,54126.7,...,61937.4,64151.6,65430.5,67689.2,70181.9,72368.7,75892.9,78418.2,81649.7,NaN
30,New Jersey,All industry total,307895.7,319946.2,336649.9,362006.9,373755.6,388337.7,405198.5,422889.1,...,486512.8,495149,499114.9,519745.8,533686.7,546831.5,569391.3,582070.9,602069,NaN
31,New Mexico,All industry total,52511.1,50682.3,53092.8,55232.9,55986.2,58055.5,62895.9,69740.7,...,82017.4,83989.2,86625,87601.6,88411.2,92495.9,90849.4,90880,94210.7,NaN
32,New York,All industry total,718322.5,745223.7,793721.1,838660.3,877149.3,886792.7,905280.6,955192,...,1152812.1,1213946.9,1236061.4,1322447.9,1355581.4,1427812.7,1488200.7,1540969.7,1606601.3,NaN
33,North Carolina,All industry total,233924.3,245907.3,264063.5,275694.2,288683.5,298110,309318.2,328037.6,...,406477.4,415206.4,427205.6,439571,455521.6,475227.2,503467.3,518384,540496.6,NaN
34,North Dakota,All industry total,15730.3,16792.7,16983.7,17976.1,18919.6,20209,22077.4,23167.8,...,32002.5,35426.3,41179.2,51345.1,53881.7,58547.4,54932.7,51099.2,52526.6,NaN
35,Ohio,All industry total,343467.2,361629.1,376034.8,391137.8,395622.5,411967,424915.5,445541.1,...,480322,497208.2,525388.4,540819.3,561045.5,593030,609633.9,620931.2,645746.9,NaN
36,Oklahoma,All industry total,79096,81209.1,84062.9,90792.7,96767,99163,105243.3,113148.7,...,145736.4,152911.4,165035.6,173483.7,182618.4,195689,185460.5,178969.9,188631.7,NaN
37,Oregon,All industry total,100888.6,105111.5,107546.3,117258.3,117274.7,121229.5,127211.6,136238.5,...,160640.7,163827.6,170621.3,174493.1,179382.7,189344.3,203173.3,215336.1,227154.5,NaN
38,Pennsylvania,All industry total,356146.1,372738.5,389715.7,407652.8,424965.2,436985.5,455106.8,481738.9,...,577379.8,599312.8,618987.7,641317.3,663900.8,690675.4,710040.5,724668.3,756268.5,NaN
39,Rhode Island,All industry total,28929.9,30719.9,32295.5,34516.4,35992.1,38132.1,40272.8,43245.6,...,47901.4,49571.8,50175.9,51642,53209.9,54573.3,56843.8,57860,59305.7,NaN
40,South Carolina,All industry total,97393,103642.6,110251.8,115246.8,119301.4,124160.1,130337.4,135160.1,...,159835.6,163856.8,170087.2,175374.8,183014.9,191967.4,203920.5,212460.2,221689.6,NaN
41,South Dakota,All industry total,19000,20184.7,21050.8,22690.7,23512.8,26337.5,27445,29628.9,...,36193.1,37484.4,41541.5,43444.6,44814.9,46057,47778.2,48492.9,49813.1,NaN
42,Tennessee,All industry total,154412.9,167308.4,175819.8,181629.5,185774.7,195289.2,203833.7,218020.6,...,250544.4,255935.8,267659.1,283721.8,292803.9,304150.4,322893.1,334618.1,349569.2,NaN
43,Texas,All industry total,610256.5,645696.9,681335.4,738871,773006.7,787257.8,829764.4,906321,...,1163401.3,1237196.8,1331220.6,1411378.7,1502249.8,1565390.2,1568641.9,1565698.8,1645135.9,NaN
44,Utah,All industry total,57699.7,62291.4,66022.6,70291.8,73226,75998.8,79149.1,85701.9,...,113332.9,117960.5,124539.4,128721,134252.1,141342.9,149576.7,157474.7,164917,NaN
45,Vermont,All industry total,15415,16073.1,17159.3,18311.9,19274.1,20163.3,21130.1,22666,...,25867.8,27108.4,28135.1,28887.4,29098.8,29714.4,30672.9,31552.2,32545.2,NaN
46,Virginia,All industry total,217251.9,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,...,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1,NaN
47,Washington,All industry total,193897.6,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,...,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7,NaN
48,West Virginia,All industry total,38839.7,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,...,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4,NaN
49,Wisconsin,All industry total,153240.7,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,...,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3,NaN
50,Wyoming,All industry total,14724.3,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,...,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8,NaN

In [130]:
gg.sort_values(['State'], inplace=True)

In [131]:
gg

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Alabama,Per capita personal consumption expenditures,17020,17696,18638,19559,20218,21174,22065,23268,...,26587,27339,28177,28827,29290,30123,30870,31572,32489,NaN
1,Alabama,Personal consumption expenditures,74340.3,77946.9,82570,87080.2,90325.4,94859.3,99368.5,105421,...,126502,130834,135212,138773,141400,145796,149745,153456,158375,NaN
3,Alabama,Personal income (thousands of dollars),NaN,100081022,103536039,108506247,112312142,115166086,120209889,128669896,...,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425,206924098
4,Alabama,Population (persons) 2/,NaN,4404701,4430141,4452173,4467634,4480089,4503491,4530729,...,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
5,Alabama,Per capita personal income (dollars) 3/,NaN,22721,23371,24372,25139,25706,26693,28399,...,32631,33845,34941,35806,36046,37217,38594,39260,40802,42334
1,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5,NaN
6,Alaska,Personal income (thousands of dollars),NaN,18046020,18603123,20020289,21181698,22201930,23190634,24270355,...,32749086,35162893,37580637,38822647,38502520,40935223,42290967,41461355,42300914,44015234
7,Alaska,Population (persons) 2/,NaN,619932,624779,627963,633714,642337,648414,659286,...,698895,713906,722038,730399,737045,736307,737547,741504,739786,737438
8,Alaska,Per capita personal income (dollars) 3/,NaN,29110,29776,31881,33425,34564,35765,36813,...,46858,49254,52048,53153,52239,55595,57340,55915,57180,59687
2,Alaska,Per capita personal consumption expenditures,22512,23350,24671,26400,27812,29470,31014,32481,...,38355,38992,40669,41719,42218,43867,45400,46299,48036,NaN
2,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479,NaN
2,Alaska,Personal consumption expenditures,13799.3,14475.2,15414,16578,17624.6,18929.7,20110.1,21414.2,...,26806.2,27841,29373.8,30489.3,31104.6,32319.5,33504.1,34332,35537.1,NaN
9,Arizona,Personal income (thousands of dollars),NaN,117363581,124099462,134952008,140805569,145930328,154810692,169309942,...,211397715,215012419,225853155,236455566,242571877,257066980,270806695,280988093,296648898,313040186
3,Arizona,Per capita personal consumption expenditures,19416,20274,21392,22579,23118,23728,24672,26095,...,28596,29125,29988,30467,30910,31863,32594,33256,34548,NaN
11,Arizona,Per capita personal income (dollars) 3/,NaN,24033,24702,26151,26701,27043,28094,29954,...,33327,33555,34889,36064,36559,38175,39629,40456,42085,43650
3,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8,NaN
3,Arizona,Personal consumption expenditures,91972.3,99006.9,107470,116522,121914,128045,135951,147499,...,181388,186603,193886,199385,204507,213690,221711,229756,242400,NaN
10,Arizona,Population (persons) 2/,NaN,4883342,5023823,5160586,5273477,5396255,5510364,5652404,...,6343154,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
13,Arkansas,Population (persons) 2/,NaN,2626289,2651860,2678588,2691571,2705927,2724816,2749686,...,2896843,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
14,Arkansas,Per capita personal income (dollars) 3/,NaN,21291,21920,22824,23917,24346,25588,26970,...,31152,31863,33781,36088,35961,37948,39030,39717,41063,42566
12,Arkansas,Personal income (thousands of dollars),NaN,55917111,58129532,61136633,64374920,65878184,69721985,74158872,...,90242461,93103196,99328677,106536954,106429638,112619155,116248596,118769649,123313411,128286006
4,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704,51688.4,53668.9,56460,59980.2,...,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8,NaN
4,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5,NaN
4,Arkansas,Per capita personal consumption expenditures,15785,16547,17556,18556,19204,19834,20721,21813,...,25678,26356,27438,28212,28846,29824,30649,31695,32875,NaN
17,California,Per capita personal income (dollars) 3/,NaN,29185,30699,33403,34083,34233,35452,37364,...,42050,43617,46183,48826,49259,52340,55793,57625,60004,62586
16,California,Population (persons) 2/,NaN,32987675,33499204,33987977,34479458,34871843,35253159,35574576,...,36961229,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045
15,California,Personal income (thousands of dollars),NaN,962746138,1028383305,1135314517,1175177709,1193779435,1249800288,1329225078,...,1554229664,1627839016,1738413111,1853467228,1885672430,2021640034,2173299670,2259413865,2364129404,2475727462
5,California,Per capita personal consumption expenditures,21212,22150,23411,25112,25915,26676,27748,29356,...,33195,34268,35585,36701,37419,38952,40719,42528,44366,NaN
5,California,All industry total,1070523.6,1147841.6,1247093,1366561,1384111.2,1436430.9,1527294,1632216.9,...,1920061.8,1974614.5,2050056.8,2144497.3,2262771.2,2396552.1,2557131.9,2665348.9,2797600.9,NaN
5,California,Personal consumption expenditures,689108,730690,784255,853510,893521,930237,978212,1.04432e+06,...,1.22694e+06,1.27914e+06,1.34057e+06,1.39532e+06,1.43493e+06,1.50751e+06,1.58935e+06,1.6712e+06,1.75408e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,Personal consumption expenditures,136798,147028,159877,174097,182709,191221,203677,220893,...,278117,288202,300020,311127,318196,330284,342143,354902,368875,NaN
46,Virginia,Per capita personal consumption expenditures,20031,21306,22839,24501,25382,26242,27647,29549,...,35089,35912,37005,37995,38515,39712,40893,42178,43551,NaN
46,Virginia,All industry total,217251.9,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,...,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1,NaN
141,Virginia,Personal income (thousands of dollars),NaN,199655973,213981635,232033571,244136715,250928132,265980394,284957124,...,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276,485098429
143,Virginia,Per capita personal income (dollars) 3/,NaN,28932,30568,32654,33916,34436,36104,38118,...,44026,45413,47688,49452,48717,50557,52712,53345,55137,56952
142,Virginia,Population (persons) 2/,NaN,6900918,7000174,7105817,7198362,7286873,7366977,7475575,...,7925937,8023680,8100469,8185229,8253053,8312076,8362907,8410946,8465207,8517685
144,Washington,Personal income (thousands of dollars),NaN,169625801,181364803,194207085,199075219,202861517,210864222,225994043,...,279037778,286732273,303939314,328949369,335890860,362951551,384651032,404232131,428765189,458017320
47,Washington,Personal consumption expenditures,119654,132270,142402,153764,158016,163745,172568,184742,...,229106,235508,246746,257666,266799,279827,294627,309831,328644,NaN
47,Washington,All industry total,193897.6,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,...,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7,NaN
47,Washington,Per capita personal consumption expenditures,21085,22925,24373,26015,26399,27055,28271,29900,...,34362,34935,36184,37392,38314,39709,41190,42554,44377,NaN
145,Washington,Population (persons) 2/,NaN,5769562,5842564,5910512,5985722,6052349,6104115,6178645,...,6667426,6742902,6821655,6892876,6962906,7052439,7163543,7294680,7425432,7535591
146,Washington,Per capita personal income (dollars) 3/,NaN,29400,31042,32858,33258,33518,34545,36577,...,41851,42524,44555,47723,48240,51465,53696,55415,57743,60781
147,West Virginia,Personal income (thousands of dollars),NaN,37281527,38282569,40452595,42849799,44286601,44871402,46485544,...,58149798,60061547,63448690,65251759,64792619,66679676,67736679,67582876,69872741,73277645
148,West Virginia,Population (persons) 2/,NaN,1815609,1811799,1807021,1801481,1805414,1812295,1816438,...,1847775,1854214,1856074,1856764,1853873,1849467,1841996,1830929,1817048,1805832
48,West Virginia,All industry total,38839.7,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,...,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4,NaN
48,West Virginia,Personal consumption expenditures,28766.8,30116.4,31854.3,33653.1,35070.1,36788.2,38375.5,40690.3,...,49792.7,51738.2,54299.7,56038.7,56890.3,58462.5,59957.5,61427.6,63115.2,NaN
48,West Virginia,Per capita personal consumption expenditures,15814,16588,17582,18624,19467,20377,21175,22401,...,26947,27902,29274,30204,30713,31642,32590,33592,34758,NaN
149,West Virginia,Per capita personal income (dollars) 3/,NaN,20534,21130,22386,23786,24530,24759,25592,...,31470,32392,34184,35143,34950,36053,36774,36912,38454,40578
49,Wisconsin,Per capita personal consumption expenditures,19801,20833,22171,23478,24345,25163,26388,27790,...,32120,32993,34222,34760,35659,36838,37958,39186,40660,NaN
152,Wisconsin,Per capita personal income (dollars) 3/,NaN,26995,27954,29573,30852,31436,32098,33354,...,38085,38994,41119,42956,43076,44780,46558,47426,48970,50756
49,Wisconsin,Personal consumption expenditures,104276,110368,118228,126171,131628,137018,144584,153235,...,182095,187741,195263,198867,204564,211867,218629,226218,235644,NaN
151,Wisconsin,Population (persons) 2/,NaN,5297672,5332666,5373999,5406835,5445162,5479203,5514026,...,5669264,5690479,5704755,5719855,5736952,5751974,5761406,5772958,5792051,5813568
150,Wisconsin,Personal income (thousands of dollars),NaN,143010508,149069687,158927569,166810412,171173593,175869838,183912501,...,215913287,221895293,234574850,245700352,247127445,257572422,268237980,273787486,283635828,295073161
49,Wisconsin,All industry total,153240.7,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,...,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3,NaN
155,Wyoming,Per capita personal income (dollars) 3/,NaN,25788,27461,29363,30971,31448,33109,34977,...,43488,46002,50115,53712,53102,56682,57225,55511,57384,60095
50,Wyoming,Per capita personal consumption expenditures,18559,19754,21060,22479,23289,24129,25470,27260,...,33095,34003,35776,36864,37815,39078,39345,39650,41036,NaN
153,Wyoming,Personal income (thousands of dollars),NaN,12656287,13504808,14514258,15320219,15724542,16668843,17806977,...,24346798,25967136,28426349,30952483,30911890,33019911,33514584,32434582,33221417,34718886
154,Wyoming,Population (persons) 2/,NaN,490787,491780,494300,494657,500017,503453,509106,...,559851,564483,567224,576270,582123,582548,585668,584290,578934,577737
50,Wyoming,Personal consumption expenditures,9083.7,9695.1,10357.1,11111.1,11520.1,12065,12823,13878.1,...,18528.3,19190.2,20306.5,21256.3,22020.9,22795.5,23060.1,23191.8,23772.7,NaN
50,Wyoming,All industry total,14724.3,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,...,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8,NaN

In [137]:
gg.to_csv('gg.csv',index=False)

,State,Description,1997,1998,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
1,Alabama,Per capita personal consumption expenditures,17020,17696,18638,19559,20218,21174,22065,23268,...,26587,27339,28177,28827,29290,30123,30870,31572,32489,NaN
1,Alabama,Personal consumption expenditures,74340.3,77946.9,82570,87080.2,90325.4,94859.3,99368.5,105421,...,126502,130834,135212,138773,141400,145796,149745,153456,158375,NaN
3,Alabama,Personal income (thousands of dollars),NaN,100081022,103536039,108506247,112312142,115166086,120209889,128669896,...,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425,206924098
4,Alabama,Population (persons) 2/,NaN,4404701,4430141,4452173,4467634,4480089,4503491,4530729,...,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120,4887871
5,Alabama,Per capita personal income (dollars) 3/,NaN,22721,23371,24372,25139,25706,26693,28399,...,32631,33845,34941,35806,36046,37217,38594,39260,40802,42334
1,Alabama,All industry total,104087.4,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,...,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5,NaN
6,Alaska,Personal income (thousands of dollars),NaN,18046020,18603123,20020289,21181698,22201930,23190634,24270355,...,32749086,35162893,37580637,38822647,38502520,40935223,42290967,41461355,42300914,44015234
7,Alaska,Population (persons) 2/,NaN,619932,624779,627963,633714,642337,648414,659286,...,698895,713906,722038,730399,737045,736307,737547,741504,739786,737438
8,Alaska,Per capita personal income (dollars) 3/,NaN,29110,29776,31881,33425,34564,35765,36813,...,46858,49254,52048,53153,52239,55595,57340,55915,57180,59687
2,Alaska,Per capita personal consumption expenditures,22512,23350,24671,26400,27812,29470,31014,32481,...,38355,38992,40669,41719,42218,43867,45400,46299,48036,NaN
2,Alaska,All industry total,25744.8,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,...,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479,NaN
2,Alaska,Personal consumption expenditures,13799.3,14475.2,15414,16578,17624.6,18929.7,20110.1,21414.2,...,26806.2,27841,29373.8,30489.3,31104.6,32319.5,33504.1,34332,35537.1,NaN
9,Arizona,Personal income (thousands of dollars),NaN,117363581,124099462,134952008,140805569,145930328,154810692,169309942,...,211397715,215012419,225853155,236455566,242571877,257066980,270806695,280988093,296648898,313040186
3,Arizona,Per capita personal consumption expenditures,19416,20274,21392,22579,23118,23728,24672,26095,...,28596,29125,29988,30467,30910,31863,32594,33256,34548,NaN
11,Arizona,Per capita personal income (dollars) 3/,NaN,24033,24702,26151,26701,27043,28094,29954,...,33327,33555,34889,36064,36559,38175,39629,40456,42085,43650
3,Arizona,All industry total,132418,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,...,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8,NaN
3,Arizona,Personal consumption expenditures,91972.3,99006.9,107470,116522,121914,128045,135951,147499,...,181388,186603,193886,199385,204507,213690,221711,229756,242400,NaN
10,Arizona,Population (persons) 2/,NaN,4883342,5023823,5160586,5273477,5396255,5510364,5652404,...,6343154,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876,7171646
13,Arkansas,Population (persons) 2/,NaN,2626289,2651860,2678588,2691571,2705927,2724816,2749686,...,2896843,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997,3013825
14,Arkansas,Per capita personal income (dollars) 3/,NaN,21291,21920,22824,23917,24346,25588,26970,...,31152,31863,33781,36088,35961,37948,39030,39717,41063,42566
12,Arkansas,Personal income (thousands of dollars),NaN,55917111,58129532,61136633,64374920,65878184,69721985,74158872,...,90242461,93103196,99328677,106536954,106429638,112619155,116248596,118769649,123313411,128286006
4,Arkansas,Personal consumption expenditures,41057.2,43456.6,46556.9,49704,51688.4,53668.9,56460,59980.2,...,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8,NaN
4,Arkansas,All industry total,59865.6,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,...,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5,NaN
4,Arkansas,Per capita personal consumption expenditures,15785,16547,17556,18556,19204,19834,20721,21813,...,25678,26356,27438,28212,28846,29824,30649,31695,32875,NaN
17,California,Per capita personal income (dollars) 3/,NaN,29185,30699,33403,34083,34233,35452,37364,...,42050,43617,46183,48826,49259,52340,55793,57625,60004,62586
16,California,Population (persons) 2/,NaN,32987675,33499204,33987977,34479458,34871843,35253159,35574576,...,36961229,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349,39557045
15,California,Personal income (thousands of dollars),NaN,962746138,1028383305,1135314517,1175177709,1193779435,1249800288,1329225078,...,1554229664,1627839016,1738413111,1853467228,1885672430,2021640034,2173299670,2259413865,2364129404,2475727462
5,California,Per capita personal consumption expenditures,21212,22150,23411,25112,25915,26676,27748,29356,...,33195,34268,35585,36701,37419,38952,40719,42528,44366,NaN
5,California,All industry total,1070523.6,1147841.6,1247093,1366561,1384111.2,1436430.9,1527294,1632216.9,...,1920061.8,1974614.5,2050056.8,2144497.3,2262771.2,2396552.1,2557131.9,2665348.9,2797600.9,NaN
5,California,Personal consumption expenditures,689108,730690,784255,853510,893521,930237,978212,1.04432e+06,...,1.22694e+06,1.27914e+06,1.34057e+06,1.39532e+06,1.43493e+06,1.50751e+06,1.58935e+06,1.6712e+06,1.75408e+06,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,Personal consumption expenditures,136798,147028,159877,174097,182709,191221,203677,220893,...,278117,288202,300020,311127,318196,330284,342143,354902,368875,NaN
46,Virginia,Per capita personal consumption expenditures,20031,21306,22839,24501,25382,26242,27647,29549,...,35089,35912,37005,37995,38515,39712,40893,42178,43551,NaN
46,Virginia,All industry total,217251.9,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,...,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1,NaN
141,Virginia,Personal income (thousands of dollars),NaN,199655973,213981635,232033571,244136715,250928132,265980394,284957124,...,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276,485098429
143,Virginia,Per capita personal income (dollars) 3/,NaN,28932,30568,32654,33916,34436,36104,38118,...,44026,45413,47688,49452,48717,50557,52712,53345,55137,56952
142,Virginia,Population (persons) 2/,NaN,6900918,7000174,7105817,7198362,7286873,7366977,7475575,...,7925937,8023680,8100469,8185229,8253053,8312076,8362907,8410946,8465207,8517685
144,Washington,Personal income (thousands of dollars),NaN,169625801,181364803,194207085,199075219,202861517,210864222,225994043,...,279037778,286732273,303939314,328949369,335890860,362951551,384651032,404232131,428765189,458017320
47,Washington,Personal consumption expenditures,119654,132270,142402,153764,158016,163745,172568,184742,...,229106,235508,246746,257666,266799,279827,294627,309831,328644,NaN
47,Washington,All industry total,193897.6,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,...,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7,NaN
47,Washington,Per capita personal consumption expenditures,21085,22925,24373,26015,26399,27055,28271,29900,...,34362,34935,36184,37392,38314,39709,41190,42554,44377,NaN
145,Washington,Population (persons) 2/,NaN,5769562,5842564,5910512,5985722,6052349,6104115,6178645,...,6667426,6742902,6821655,6892876,6962906,7052439,7163543,7294680,7425432,7535591
146,Washington,Per capita personal income (dollars) 3/,NaN,29400,31042,32858,33258,33518,34545,36577,...,41851,42524,44555,47723,48240,51465,53696,55415,57743,60781
147,West Virginia,Personal income (thousands of dollars),NaN,37281527,38282569,40452595,42849799,44286601,44871402,46485544,...,58149798,60061547,63448690,65251759,64792619,66679676,67736679,67582876,69872741,73277645
148,West Virginia,Population (persons) 2/,NaN,1815609,1811799,1807021,1801481,1805414,1812295,1816438,...,1847775,1854214,1856074,1856764,1853873,1849467,1841996,1830929,1817048,1805832
48,West Virginia,All industry total,38839.7,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,...,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4,NaN
48,West Virginia,Personal consumption expenditures,28766.8,30116.4,31854.3,33653.1,35070.1,36788.2,38375.5,40690.3,...,49792.7,51738.2,54299.7,56038.7,56890.3,58462.5,59957.5,61427.6,63115.2,NaN
48,West Virginia,Per capita personal consumption expenditures,15814,16588,17582,18624,19467,20377,21175,22401,...,26947,27902,29274,30204,30713,31642,32590,33592,34758,NaN
149,West Virginia,Per capita personal income (dollars) 3/,NaN,20534,21130,22386,23786,24530,24759,25592,...,31470,32392,34184,35143,34950,36053,36774,36912,38454,40578
49,Wisconsin,Per capita personal consumption expenditures,19801,20833,22171,23478,24345,25163,26388,27790,...,32120,32993,34222,34760,35659,36838,37958,39186,40660,NaN
152,Wisconsin,Per capita personal income (dollars) 3/,NaN,26995,27954,29573,30852,31436,32098,33354,...,38085,38994,41119,42956,43076,44780,46558,47426,48970,50756
49,Wisconsin,Personal consumption expenditures,104276,110368,118228,126171,131628,137018,144584,153235,...,182095,187741,195263,198867,204564,211867,218629,226218,235644,NaN
151,Wisconsin,Population (persons) 2/,NaN,5297672,5332666,5373999,5406835,5445162,5479203,5514026,...,5669264,5690479,5704755,5719855,5736952,5751974,5761406,5772958,5792051,5813568
150,Wisconsin,Personal income (thousands of dollars),NaN,143010508,149069687,158927569,166810412,171173593,175869838,183912501,...,215913287,221895293,234574850,245700352,247127445,257572422,268237980,273787486,283635828,295073161
49,Wisconsin,All industry total,153240.7,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,...,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3,NaN
155,Wyoming,Per capita personal income (dollars) 3/,NaN,25788,27461,29363,30971,31448,33109,34977,...,43488,46002,50115,53712,53102,56682,57225,55511,57384,60095
50,Wyoming,Per capita personal consumption expenditures,18559,19754,21060,22479,23289,24129,25470,27260,...,33095,34003,35776,36864,37815,39078,39345,39650,41036,NaN
153,Wyoming,Personal income (thousands of dollars),NaN,12656287,13504808,14514258,15320219,15724542,16668843,17806977,...,24346798,25967136,28426349,30952483,30911890,33019911,33514584,32434582,33221417,34718886
154,Wyoming,Population (persons) 2/,NaN,490787,491780,494300,494657,500017,503453,509106,...,559851,564483,567224,576270,582123,582548,585668,584290,578934,577737
50,Wyoming,Personal consumption expenditures,9083.7,9695.1,10357.1,11111.1,11520.1,12065,12823,13878.1,...,18528.3,19190.2,20306.5,21256.3,22020.9,22795.5,23060.1,23191.8,23772.7,NaN
50,Wyoming,All industry total,14724.3,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,...,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8,NaN

In [147]:
gg = gg.dropna(axis='columns')
gg

,State,Description,1998,1999,2000,2001,2002,2003,2004,2005,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
1,Alabama,Per capita personal consumption expenditures,17696,18638,19559,20218,21174,22065,23268,24784,...,27055,26587,27339,28177,28827,29290,30123,30870,31572,32489
1,Alabama,Personal consumption expenditures,77946.9,82570,87080.2,90325.4,94859.3,99368.5,105421,113259,...,127650,126502,130834,135212,138773,141400,145796,149745,153456,158375
3,Alabama,Personal income (thousands of dollars),100081022,103536039,108506247,112312142,115166086,120209889,128669896,136215282,...,157479528,155254669,161965527,167675590,172427855,174118716,180220290,187301605,190991192,198916425
4,Alabama,Population (persons) 2/,4404701,4430141,4452173,4467634,4480089,4503491,4530729,4569805,...,4718206,4757938,4785448,4798834,4815564,4830460,4842481,4853160,4864745,4875120
5,Alabama,Per capita personal income (dollars) 3/,22721,23371,24372,25139,25706,26693,28399,29808,...,33377,32631,33845,34941,35806,36046,37217,38594,39260,40802
1,Alabama,All industry total,109404.3,115030.9,119242.4,122449.3,127792.3,133739.2,146524.7,155970.4,...,172686.8,168348,174753,181349.8,186299,191481,194059.7,200317.5,203354.7,211196.5
6,Alaska,Personal income (thousands of dollars),18046020,18603123,20020289,21181698,22201930,23190634,24270355,25888513,...,32701876,32749086,35162893,37580637,38822647,38502520,40935223,42290967,41461355,42300914
7,Alaska,Population (persons) 2/,619932,624779,627963,633714,642337,648414,659286,666946,...,687455,698895,713906,722038,730399,737045,736307,737547,741504,739786
8,Alaska,Per capita personal income (dollars) 3/,29110,29776,31881,33425,34564,35765,36813,38817,...,47569,46858,49254,52048,53153,52239,55595,57340,55915,57180
2,Alaska,Per capita personal consumption expenditures,23350,24671,26400,27812,29470,31014,32481,34205,...,38532,38355,38992,40669,41719,42218,43867,45400,46299,48036
2,Alaska,All industry total,24170.4,24732.6,26778.3,28420.4,29605.3,31799.7,34970.7,39774.8,...,54752.4,49585.9,52882.5,56259.9,57670.1,56622.8,55547.4,50636.1,49380.9,51479
2,Alaska,Personal consumption expenditures,14475.2,15414,16578,17624.6,18929.7,20110.1,21414.2,22812.7,...,26488.9,26806.2,27841,29373.8,30489.3,31104.6,32319.5,33504.1,34332,35537.1
9,Arizona,Personal income (thousands of dollars),117363581,124099462,134952008,140805569,145930328,154810692,169309942,188149041,...,223221865,211397715,215012419,225853155,236455566,242571877,257066980,270806695,280988093,296648898
3,Arizona,Per capita personal consumption expenditures,20274,21392,22579,23118,23728,24672,26095,27652,...,29693,28596,29125,29988,30467,30910,31863,32594,33256,34548
11,Arizona,Per capita personal income (dollars) 3/,24033,24702,26151,26701,27043,28094,29954,32222,...,35543,33327,33555,34889,36064,36559,38175,39629,40456,42085
3,Arizona,All industry total,143392.4,155344.5,164611.6,171474.2,179413.3,192751.2,205420.8,228231.2,...,259366.7,243929.4,248210,257947.8,268288.8,275199.1,284573.8,297116.4,310928.9,326445.8
3,Arizona,Personal consumption expenditures,99006.9,107470,116522,121914,128045,135951,147499,161461,...,186485,181388,186603,193886,199385,204507,213690,221711,229756,242400
10,Arizona,Population (persons) 2/,4883342,5023823,5160586,5273477,5396255,5510364,5652404,5839077,...,6280362,6343154,6407774,6473497,6556629,6634999,6733840,6833596,6945452,7048876
13,Arkansas,Population (persons) 2/,2626289,2651860,2678588,2691571,2705927,2724816,2749686,2781097,...,2874554,2896843,2921978,2940407,2952109,2959549,2967726,2978407,2990410,3002997
14,Arkansas,Per capita personal income (dollars) 3/,21291,21920,22824,23917,24346,25588,26970,28096,...,31935,31152,31863,33781,36088,35961,37948,39030,39717,41063
12,Arkansas,Personal income (thousands of dollars),55917111,58129532,61136633,64374920,65878184,69721985,74158872,78138502,...,91798185,90242461,93103196,99328677,106536954,106429638,112619155,116248596,118769649,123313411
4,Arkansas,Personal consumption expenditures,43456.6,46556.9,49704,51688.4,53668.9,56460,59980.2,64341.5,...,74688.7,74385.2,77004.9,80630.8,83204.3,85292.1,88422.6,91201.1,94712.5,98765.8
4,Arkansas,All industry total,62442.5,66816.7,68770,70601.4,73950.4,78218.8,84624.5,89610,...,98955.3,97058.9,101690,106085.4,108745.2,114251.5,117339.1,118435.8,119947.3,122703.5
4,Arkansas,Per capita personal consumption expenditures,16547,17556,18556,19204,19834,20721,21813,23135,...,25983,25678,26356,27438,28212,28846,29824,30649,31695,32875
17,California,Per capita personal income (dollars) 3/,29185,30699,33403,34083,34233,35452,37364,39326,...,43895,42050,43617,46183,48826,49259,52340,55793,57625,60004
16,California,Population (persons) 2/,32987675,33499204,33987977,34479458,34871843,35253159,35574576,35827943,...,36604337,36961229,37320903,37641823,37960782,38280824,38625139,38953142,39209127,39399349
15,California,Personal income (thousands of dollars),962746138,1028383305,1135314517,1175177709,1193779435,1249800288,1329225078,1408965257,...,1606764505,1554229664,1627839016,1738413111,1853467228,1885672430,2021640034,2173299670,2259413865,2364129404
5,California,Per capita personal consumption expenditures,22150,23411,25112,25915,26676,27748,29356,31059,...,34614,33195,34268,35585,36701,37419,38952,40719,42528,44366
5,California,All industry total,1147841.6,1247093,1366561,1384111.2,1436430.9,1527294,1632216.9,1753866.2,...,1990678.2,1920061.8,1974614.5,2050056.8,2144497.3,2262771.2,2396552.1,2557131.9,2665348.9,2797600.9
5,California,Personal consumption expenditures,730690,784255,853510,893521,930237,978212,1.04432e+06,1.11279e+06,...,1.26701e+06,1.22694e+06,1.27914e+06,1.34057e+06,1.39532e+06,1.43493e+06,1.50751e+06,1.58935e+06,1.6712e+06,1.75408e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46,Virginia,Personal consumption expenditures,147028,159877,174097,182709,191221,203677,220893,239126,...,278186,278117,288202,300020,311127,318196,330284,342143,354902,368875
46,Virginia,Per capita personal consumption expenditures,21306,22839,24501,25382,26242,27647,29549,31559,...,35512,35089,35912,37005,37995,38515,39712,40893,42178,43551
46,Virginia,All industry total,233095.5,249798.3,266886.4,284001.9,293275.9,309981.2,332250.6,360299.8,...,399032.1,408918.7,422902,432392.7,444950,455070,463781.7,484690.5,493699.5,510586.1
141,Virginia,Personal income (thousands of dollars),199655973,213981635,232033571,244136715,250928132,265980394,284957124,304720531,...,356434411,348944176,364382497,386298008,404772481,402064568,420235927,440823733,448683501,466743276
143,Virginia,Per capita personal income (dollars) 3/,28932,30568,32654,33916,34436,36104,38118,40216,...,45501,44026,45413,47688,49452,48717,50557,52712,53345,55137
142,Virginia,Population (persons) 2/,6900918,7000174,7105817,7198362,7286873,7366977,7475575,7577105,...,7833496,7925937,8023680,8100469,8185229,8253053,8312076,8362907,8410946,8465207
144,Washington,Personal income (thousands of dollars),169625801,181364803,194207085,199075219,202861517,210864222,225994043,235226474,...,292344351,279037778,286732273,303939314,328949369,335890860,362951551,384651032,404232131,428765189
47,Washington,Personal consumption expenditures,132270,142402,153764,158016,163745,172568,184742,197073,...,231125,229106,235508,246746,257666,266799,279827,294627,309831,328644
47,Washington,All industry total,210205,230554.9,237831.8,239425.7,248189.1,258262.8,270115.2,296100.7,...,355677.8,353632,365551.9,379539,400863.3,419345,442442.4,469944,492251.4,524322.7
47,Washington,Per capita personal consumption expenditures,22925,24373,26015,26399,27055,28271,29900,31495,...,35221,34362,34935,36184,37392,38314,39709,41190,42554,44377
145,Washington,Population (persons) 2/,5769562,5842564,5910512,5985722,6052349,6104115,6178645,6257305,...,6562231,6667426,6742902,6821655,6892876,6962906,7052439,7163543,7294680,7425432
146,Washington,Per capita personal income (dollars) 3/,29400,31042,32858,33258,33518,34545,36577,37592,...,44550,41851,42524,44555,47723,48240,51465,53696,55415,57743
147,West Virginia,Personal income (thousands of dollars),37281527,38282569,40452595,42849799,44286601,44871402,46485544,48840352,...,57652410,58149798,60061547,63448690,65251759,64792619,66679676,67736679,67582876,69872741
148,West Virginia,Population (persons) 2/,1815609,1811799,1807021,1801481,1805414,1812295,1816438,1820492,...,1840310,1847775,1854214,1856074,1856764,1853873,1849467,1841996,1830929,1817048
48,West Virginia,All industry total,40086.1,41831,42606.9,43977.6,45433.7,46667.9,49271.7,53259,...,62066.7,62957.8,65274.1,68524.9,69399,71037.6,72027.1,70413.6,70191.4,74047.4
48,West Virginia,Personal consumption expenditures,30116.4,31854.3,33653.1,35070.1,36788.2,38375.5,40690.3,42813,...,48871.4,49792.7,51738.2,54299.7,56038.7,56890.3,58462.5,59957.5,61427.6,63115.2
48,West Virginia,Per capita personal consumption expenditures,16588,17582,18624,19467,20377,21175,22401,23517,...,26556,26947,27902,29274,30204,30713,31642,32590,33592,34758
149,West Virginia,Per capita personal income (dollars) 3/,20534,21130,22386,23786,24530,24759,25592,26828,...,31328,31470,32392,34184,35143,34950,36053,36774,36912,38454
49,Wisconsin,Per capita personal consumption expenditures,20833,22171,23478,24345,25163,26388,27790,29105,...,32485,32120,32993,34222,34760,35659,36838,37958,39186,40660
152,Wisconsin,Per capita personal income (dollars) 3/,26995,27954,29573,30852,31436,32098,33354,34353,...,38914,38085,38994,41119,42956,43076,44780,46558,47426,48970
49,Wisconsin,Personal consumption expenditures,110368,118228,126171,131628,137018,144584,153235,161419,...,183246,182095,187741,195263,198867,204564,211867,218629,226218,235644
151,Wisconsin,Population (persons) 2/,5297672,5332666,5373999,5406835,5445162,5479203,5514026,5546166,...,5640996,5669264,5690479,5704755,5719855,5736952,5751974,5761406,5772958,5792051
150,Wisconsin,Personal income (thousands of dollars),143010508,149069687,158927569,166810412,171173593,175869838,183912501,190527609,...,219514508,215913287,221895293,234574850,245700352,247127445,257572422,268237980,273787486,283635828
49,Wisconsin,All industry total,162523,172258.1,180539,187939.3,194813.1,203134.7,215138.9,225697.9,...,244759.9,245539,254354.1,263881.6,274343.9,282384.6,293519.4,304763.9,312203.7,321373.3
155,Wyoming,Per capita personal income (dollars) 3/,25788,27461,29363,30971,31448,33109,34977,38071,...,48227,43488,46002,50115,53712,53102,56682,57225,55511,57384
50,Wyoming,Per capita personal consumption expenditures,19754,21060,22479,23289,24129,25470,27260,29297,...,35158,33095,34003,35776,36864,37815,39078,39345,39650,41036
153,Wyoming,Personal income (thousands of dollars),12656287,13504808,14514258,15320219,15724542,16668843,17806977,19574481,...,26333754,24346798,25967136,28426349,30952483,30911890,33019911,33514584,32434582,33221417
154,Wyoming,Population (persons) 2/,490787,491780,494300,494657,500017,503453,509106,514157,...,546043,559851,564483,567224,576270,582123,582548,585668,584290,578934
50,Wyoming,Personal consumption expenditures,9695.1,10357.1,11111.1,11520.1,12065,12823,13878.1,15063.5,...,19197.7,18528.3,19190.2,20306.5,21256.3,22020.9,22795.5,23060.1,23191.8,23772.7
50,Wyoming,All industry total,14928.2,15710.9,17205.4,18660.7,19115.6,21027.5,23186.7,27177.6,...,42540.4,36042.2,37401.2,39370.7,38431.7,38922.5,39372.3,37764.1,35984.2,38036.8

In [149]:
ggg = pd.melt(gg, id_vars=['State','Description'], 
       var_name='Year', value_name='Unit')

In [150]:
ggg

,State,Description,Year,Unit
0,Alabama,Per capita personal consumption expenditures,1998,17696
1,Alabama,Personal consumption expenditures,1998,77946.9
2,Alabama,Personal income (thousands of dollars),1998,100081022
3,Alabama,Population (persons) 2/,1998,4404701
4,Alabama,Per capita personal income (dollars) 3/,1998,22721
5,Alabama,All industry total,1998,109404.3
6,Alaska,Personal income (thousands of dollars),1998,18046020
7,Alaska,Population (persons) 2/,1998,619932
8,Alaska,Per capita personal income (dollars) 3/,1998,29110
9,Alaska,Per capita personal consumption expenditures,1998,23350
10,Alaska,All industry total,1998,24170.4
11,Alaska,Personal consumption expenditures,1998,14475.2
12,Arizona,Personal income (thousands of dollars),1998,117363581
13,Arizona,Per capita personal consumption expenditures,1998,20274
14,Arizona,Per capita personal income (dollars) 3/,1998,24033
15,Arizona,All industry total,1998,143392.4
16,Arizona,Personal consumption expenditures,1998,99006.9
17,Arizona,Population (persons) 2/,1998,4883342
18,Arkansas,Population (persons) 2/,1998,2626289
19,Arkansas,Per capita personal income (dollars) 3/,1998,21291
20,Arkansas,Personal income (thousands of dollars),1998,55917111
21,Arkansas,Personal consumption expenditures,1998,43456.6
22,Arkansas,All industry total,1998,62442.5
23,Arkansas,Per capita personal consumption expenditures,1998,16547
24,California,Per capita personal income (dollars) 3/,1998,29185
25,California,Population (persons) 2/,1998,32987675
26,California,Personal income (thousands of dollars),1998,962746138
27,California,Per capita personal consumption expenditures,1998,22150
28,California,All industry total,1998,1147841.6
29,California,Personal consumption expenditures,1998,730690
...,...,...,...,...
6090,Virginia,Personal consumption expenditures,2017,368875
6091,Virginia,Per capita personal consumption expenditures,2017,43551
6092,Virginia,All industry total,2017,510586.1
6093,Virginia,Personal income (thousands of dollars),2017,466743276
6094,Virginia,Per capita personal income (dollars) 3/,2017,55137
6095,Virginia,Population (persons) 2/,2017,8465207
6096,Washington,Personal income (thousands of dollars),2017,428765189
6097,Washington,Personal consumption expenditures,2017,328644
6098,Washington,All industry total,2017,524322.7
6099,Washington,Per capita personal consumption expenditures,2017,44377
6100,Washington,Population (persons) 2/,2017,7425432
6101,Washington,Per capita personal income (dollars) 3/,2017,57743
6102,West Virginia,Personal income (thousands of dollars),2017,69872741
6103,West Virginia,Population (persons) 2/,2017,1817048
6104,West Virginia,All industry total,2017,74047.4
6105,West Virginia,Personal consumption expenditures,2017,63115.2
6106,West Virginia,Per capita personal consumption expenditures,2017,34758
6107,West Virginia,Per capita personal income (dollars) 3/,2017,38454
6108,Wisconsin,Per capita personal consumption expenditures,2017,40660
6109,Wisconsin,Per capita personal income (dollars) 3/,2017,48970
6110,Wisconsin,Personal consumption expenditures,2017,235644
6111,Wisconsin,Population (persons) 2/,2017,5792051
6112,Wisconsin,Personal income (thousands of dollars),2017,283635828
6113,Wisconsin,All industry total,2017,321373.3
6114,Wyoming,Per capita personal income (dollars) 3/,2017,57384
6115,Wyoming,Per capita personal consumption expenditures,2017,41036
6116,Wyoming,Personal income (thousands of dollars),2017,33221417
6117,Wyoming,Population (persons) 2/,2017,578934
6118,Wyoming,Personal consumption expenditures,2017,23772.7
6119,Wyoming,All industry total,2017,38036.8

In [151]:
ggg.to_csv('ggg.csv',index=False)

# SUICIDE

In [159]:
mortality = pd.read_csv('data/NCHS_-_Leading_Causes_of_Death__United_States.csv', header=0)
mortality.head()

,Year,113 Cause Name,Cause Name,State,Deaths,Age-adjusted Death Rate
0,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alabama,2755,55.5
1,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Alaska,439,63.1
2,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arizona,4010,54.2
3,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,Arkansas,1604,51.8
4,2016,"Accidents (unintentional injuries) (V01-X59,Y8...",Unintentional injuries,California,13213,32.0

In [160]:
suicide = mortality[mortality['Cause Name'] == 'Suicide']
suicide = suicide[suicide['State']!= 'District of Columbia']
suicide = suicide.drop(columns=['113 Cause Name','Cause Name','Age-adjusted Death Rate'])

In [161]:
suicide.head()

      Year    State  Deaths
8475  2016  Alabama     788
8476  2015  Alabama     750
8477  2014  Alabama     715
8478  2013  Alabama     721
8479  2012  Alabama     724

In [162]:
suicide.to_csv('suicide.csv',index=False)

In [165]:
suicide[suicide['State']=='California']

      Year       State  Deaths
8547  2016  California    4294
8548  2015  California    4167
8549  2014  California    4214
8550  2013  California    4025
8551  2012  California    3893
8552  2011  California    3996
8553  2010  California    3913
8554  2009  California    3823
8555  2008  California    3775
8556  2007  California    3602
8557  2006  California    3334
8558  2005  California    3206
8559  2004  California    3368
8560  2003  California    3397
8561  2002  California    3228
8562  2001  California    2831
8563  2000  California    2969
8564  1999  California    3077

In [168]:
ggg[(ggg['State']=='California') & (ggg['Description']=='Population (persons) 2/')]

           State              Description  Year      Unit
25    California  Population (persons) 2/  1998  32987675
331   California  Population (persons) 2/  1999  33499204
637   California  Population (persons) 2/  2000  33987977
943   California  Population (persons) 2/  2001  34479458
1249  California  Population (persons) 2/  2002  34871843
1555  California  Population (persons) 2/  2003  35253159
1861  California  Population (persons) 2/  2004  35574576
2167  California  Population (persons) 2/  2005  35827943
2473  California  Population (persons) 2/  2006  36021202
2779  California  Population (persons) 2/  2007  36250311
3085  California  Population (persons) 2/  2008  36604337
3391  California  Population (persons) 2/  2009  36961229
3697  California  Population (persons) 2/  2010  37320903
4003  California  Population (persons) 2/  2011  37641823
4309  California  Population (persons) 2/  2012  37960782
4615  California  Population (persons) 2/  2013  38280824
4921  California  Population (persons) 2/  2014  38625139
5227  California  Population (persons) 2/  2015  38953142
5533  California  Population (persons) 2/  2016  39209127
5839  California  Population (persons) 2/  2017  39399349

In [3]:
from scipy.stats import spearmanr
from numpy.random import rand
from numpy.random import seed

In [4]:
data1 = rand(1000) * 20
data2 = data1 + (rand(1000) * 10)
# calculate spearman's correlation
coef, p = spearmanr(data1, data2)
print('Spearmans correlation coefficient: %.3f' % coef)

Spearmans correlation coefficient: 0.905

# unemployment

In [7]:
une = pd.read_csv('data/output.csv')
une

        Year     Month        State                  County  Rate
0       2015  February  Mississippi           Newton County   6.1
1       2015  February  Mississippi           Panola County   9.4
2       2015  February  Mississippi           Monroe County   7.9
3       2015  February  Mississippi            Hinds County   6.1
4       2015  February  Mississippi           Kemper County  10.6
5       2015  February  Mississippi          Calhoun County   6.9
6       2015  February  Mississippi           Clarke County   7.9
7       2015  February  Mississippi        Jefferson County  14.3
8       2015  February  Mississippi          Madison County   4.5
9       2015  February  Mississippi          Sharkey County  11.1
10      2015  February  Mississippi           Tunica County  11.5
11      2015  February  Mississippi             Tate County   7.6
12      2015  February  Mississippi        Lafayette County   5.5
13      2015  February  Mississippi          Bolivar County   8.6
14      2015  February  Mississippi            Stone County   7.6
15      2015  February  Mississippi          Noxubee County  10.6
16      2015  February  Mississippi            Lamar County   4.7
17      2015  February  Mississippi              Lee County   5.9
18      2015  February  Mississippi           Desoto County   5.0
19      2015  February  Mississippi            Adams County   7.6
20      2015  February  Mississippi         Pontotoc County   5.9
21      2015  February  Mississippi           Marion County   7.4
22      2015  February  Mississippi           Jasper County   7.5
23      2015  February  Mississippi          Simpson County   5.7
24      2015  February  Mississippi        Sunflower County  12.6
25      2015  February  Mississippi          Hancock County   6.6
26      2015  February  Mississippi          Winston County   8.3
27      2015  February  Mississippi          Carroll County   8.5
28      2015  February  Mississippi           Copiah County   7.6
29      2015  February  Mississippi  Jefferson Davis County   8.2
...      ...       ...          ...                     ...   ...
885518  2009  November       Nevada             Elko County   6.3
885519  2009  November       Nevada          Lincoln County   9.5
885520  2009  November       Nevada           Eureka County   6.9
885521  2009  November       Nevada           Lander County   5.9
885522  2009  November       Nevada          Mineral County   8.9
885523  2009  November       Nevada          Douglas County  12.5
885524  2009  November       Nevada        Esmeralda County   6.9
885525  2009  November       Nevada           Washoe County  11.5
885526  2009  November       Nevada           Storey County  12.5
885527  2009  November       Nevada             Lyon County  15.8
885528  2009  November       Nevada        Churchill County   9.1
885529  2009  November       Nevada       White Pine County   7.3
885530  2009  November       Nevada            Clark County  12.5
885531  2009  November       Nevada         Pershing County   9.9
885532  2009  November        Maine         Kennebec County   7.3
885533  2009  November        Maine          Hancock County   9.0
885534  2009  November        Maine     Androscoggin County   8.0
885535  2009  November        Maine       Cumberland County   6.6
885536  2009  November        Maine        Sagadahoc County   7.0
885537  2009  November        Maine          Lincoln County   7.7
885538  2009  November        Maine       Washington County   9.2
885539  2009  November        Maine             York County   7.8
885540  2009  November        Maine            Waldo County   8.7
885541  2009  November        Maine        Penobscot County   7.8
885542  2009  November        Maine         Franklin County  10.2
885543  2009  November        Maine         Somerset County  10.5
885544  2009  November        Maine           Oxford County  10.5
885545  2009  November        Maine             Knox County   7.5
885546  2009  November        Maine      Piscataquis County  11.3
885547  2009  November        Maine        Aroostook County   9.0

[885548 rows x 5 columns]

In [13]:
yy = une.groupby(by=['State','Year']).mean()

In [16]:
yy

                     Rate
State     Year
Alabama   1990   8.226990
          1991   9.081841
          1992   9.296891
          1993   9.182463
          1994   7.622139
          1995   7.607090
          1996   7.235199
          1997   6.917537
          1998   6.167040
          1999   6.621642
          2000   5.503483
          2001   6.250995
          2002   7.025498
          2003   7.075249
          2004   6.665920
          2005   5.183831
          2006   4.774378
          2007   4.898259
          2008   6.977239
          2009  13.166169
          2010  12.360697
          2011  11.211070
          2012   9.260572
          2013   8.507587
          2014   7.917164
          2015   7.033085
          2016   6.773756
Arizona   1990   8.285556
          1991   8.940556
          1992  11.739444
...                   ...
Wisconsin 2014   6.014931
          2015   5.126620
          2016   4.691088
Wyoming   1990   4.926087
          1991   5.026812
          1992   5.504710
          1993   5.225000
          1994   4.858696
          1995   4.760870
          1996   4.791304
          1997   4.660870
          1998   4.723913
          1999   4.668116
          2000   3.945290
          2001   3.877174
          2002   4.156884
          2003   4.342754
          2004   3.864493
          2005   3.711594
          2006   3.276087
          2007   2.940217
          2008   3.157609
          2009   6.315580
          2010   6.181884
          2011   5.627899
          2012   5.199275
          2013   4.661957
          2014   4.121739
          2015   4.068841
          2016   4.969928

[1258 rows x 1 columns]

In [18]:
type(yy)

pandas.core.frame.DataFrame

In [19]:
yy.head()

                  Rate
State   Year
Alabama 1990  8.226990
        1991  9.081841
        1992  9.296891
        1993  9.182463
        1994  7.622139

In [25]:
yy.columns

Index(['Rate'], dtype='object')

In [26]:
yy.index

MultiIndex(levels=[['Alabama', 'Arizona', 'Arkansas', 'California', 'Colorado', 'Connecticut', 'Delaware', 'Hawaii', 'Idaho', 'Illinois', 'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland', 'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire', 'New Jersey', 'New Mexico', 'New York', 'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania', 'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee', 'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington', 'West Virginia', 'Wisconsin', 'Wyoming'], [1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016]],
           labels=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 32, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 33, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 35, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 36, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 37, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 38, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 39, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 40, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 41, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 42, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 43, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 44, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 45, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46, 46], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 6, 7, 9, 10, 13, 14, 15, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16, 17, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]],
           names=['State', 'Year'])

In [36]:
hh=yy.loc['Alabama']

In [37]:
hh

           Rate
Year
1990   8.226990
1991   9.081841
1992   9.296891
1993   9.182463
1994   7.622139
1995   7.607090
1996   7.235199
1997   6.917537
1998   6.167040
1999   6.621642
2000   5.503483
2001   6.250995
2002   7.025498
2003   7.075249
2004   6.665920
2005   5.183831
2006   4.774378
2007   4.898259
2008   6.977239
2009  13.166169
2010  12.360697
2011  11.211070
2012   9.260572
2013   8.507587
2014   7.917164
2015   7.033085
2016   6.773756

In [40]:
hh.loc[2000]

Rate    5.503483
Name: 2000, dtype: float64